[2016-10-19 16:22] tikiatua opened #2 "Review code for commonjs format"
Revie contributed code in commonjs branch and ensure that only the requiered dev dependencies are included (wich might alteady be the case).

[2016-11-07 11:44] #2 closed

[2016-11-17 14:19] arddor opened #3 "i18nVuexModule is not defined"
I noticed that the `i18nVuexModule` (the store definition) is missing in the commonjs file. Could you rebuild it and publish on NPM?

[2016-11-17 15:00] tikiatua commented on #3
Hi there,
Thank you for the information. I just rebuilt the package and published version 1.2.2 hope this will fix the issue. Let me know if it still doesn't work.

[2016-11-17 16:43] nkoehring opened #4 "Unexpected token: keyword (default)"
To be able to use the module, I needed to change the main file in package.json to `dist/vuex-i18n.cjs.js`. I installed vuex-i18n as usual with `npm install vuex-i18n --save`.

If I don't do that, I get:
[code]

What's wrong?

[2016-11-17 17:06] ktquez commented on #4
@nkoehring
I can do it this way `vuex-i18n/dist/vuex-i18n.cjs`

[2016-11-17 17:21] nkoehring commented on #4
Thanks, this works as expected! Shouldn't this be reasonable in a more elegant way, though?

[2016-11-17 20:08] tikiatua commented on #4
Hi there,

The reason this is necessary, is because the main file is written in es6 and webpack can only include commonjs modules (if babel is not used previously).

In my opinion the es6 module system is the way to go for the future. Babel will automatically transpile es6 modules to commonjs and webpack 2 does support es6 modules directly. http://javascriptplayground.com/blog/2016/10/moving-to-we

[2016-11-18 10:28] arddor commented on #3
Thank you it works now.

[2016-11-18 10:28] #3 closed

[2016-12-07 16:13] nkoehring opened #5 "Flattened Lists"
Currently, the flattenTranslations function also flattens lists. For example:

[code]

is flattened to

[code]

When translating longer paragraphs (Terms&Conditions for example) it is nice to just have a list of them without having to know how many entries that list has. I also don't see any other reason why a list should be flattened.

I vote for keeping lists in. I can also create a PR for this.

[2016-12-07 20:08] tikiatua commented on #5
Hi @nkoehring,

Thank you for raising this issue. We actually never thought about this use case. I will adapt the flattenTranslations function to not flatten arrays and see where this will take us.

We should probably also think about how objects in an array should be handled.

[code]

[2016-12-07 21:18] nkoehring commented on #5
I see where you want to go but I wonder if this is really worth much additional work. I can't imagine a reason why people should create such a data structure for their translations. Do you know any example? Would be interesting to see.

[2016-12-08 16:26] tikiatua commented on #5
Cannot really think of an example. I just added the changes and pushed it to npm as version 1.3.0. We assume, that lists would usually be composed only of strings. Therefore we added a console warning if this is not the case. For list of strings variable replacements are supported as usually.

[2016-12-08 16:26] tikiatua commented on #4
This should be fixed now by using umd module specification for the default minified source

[2016-12-08 16:26] #4 closed

[2017-01-05 19:42] phouverneyuff opened #6 "Allow pluralizations"
Will be interesting some way to pluralizate like https://kazupon.github.io/vue-i18n/pluralization.html

[2017-01-05 21:12] tikiatua commented on #6
Hi @phouverneyuff,
thank you for your input. Pluralization is actually quite a difficult topic, especially with languages other than english.

We might have to investigate this a little further, if we want to include this into the library. The solution provided by vue-i18n might be a little crude for most real life requirements.

[2017-01-06 13:33] phouverneyuff commented on #6
We could almost allow pluralizations to english, portuguese, spanish that are easy to pluralizate.
I think only this will help many peoples even not helping with another languagues.

In my case, using something like in https://kazupon.github.io/vue-i18n/pluralization.html would help me.

[2017-01-06 13:39] phouverneyuff commented on #6
Here the code that allow pluralization:
https://github.com/kazupon/vue-i18n/blob/dev/src/extend.js#L18

[2017-01-21 18:01] prakashchokalingam opened #7 "It will be very useful if it has fallback locale options"
If a key is not found in (de.json),the unavailable key values will be taken from the fallback locale (en.json)

[2017-01-24 23:18] rayoplateado opened #8 "Persisting data"
Hi, I was spending some time trying to decide which vue i18n project to choose, when I've found this one. I think it's by far the easiest approach.

I was wondering if there is a way to make data persistent in localstorage. I've been using vuex-localstorage for my modules and works pretty well. Some of the info in my app needs to be persistent. Also current language.

Is there a way to solve that?

[2017-01-25 15:42] tikiatua commented on #8
Hi there,

Thank you for your feedback. The vuex-i18n plugin basically does intentionally not specify where the localization information should come from. You may specify it directly in the code (as in the example in the readme), load it via an ajax-request or – as you intend – fetch it from local storage.

Basically you just need to load the data from local storage (use json.stringify to put your

[2017-01-25 15:45] rayoplateado commented on #8
Hi again! And thank you for your answer!

The point is, I have GET http queries to get the info from a json file. To get info is not the problem. I have vuex-i18n working perfectly, and it was pretty easy. The point is that I want to save this i18n state into local storage. For other states i'm using vuex-localstorage, which works like a charm.

That's the point. 1 GET petition, then save to local

[2017-01-25 15:52] tikiatua commented on #8
Ah ok.. I understand your idea.

Please keep in mind, that doing this could cause problems, if you decide to update your locale information at a point in the future ;-) - also known as the caching problem.

So I would suggest this workflow:
- Prevent the user interface from rendering until all locale data is available - i.e. using v-if or something similar
- Check in the local storage if the local

[2017-01-25 15:56] rayoplateado commented on #8
Yeah, i was thinking about why there is no localstorage in vuex. Maybe this "caching problem" is the answer for my question...

Thank you for this workflow, I think I'm going to re-focus the way i'm working with localstorage.

Cheers!

[2017-01-25 15:56] #8 closed

[2017-02-05 17:45] prakashchokalingam opened #9 "removing locale always throws error ReferenceError: copy is not defined"
On `  this.$i18n.remove(oldLang);` invoking remove the following error occurs

`vuex-i18n.min.js?0fec:253 Uncaught (in promise) ReferenceError: copy is not defined`

Inspected the code the variable copy is not declared in the remove locale function

`	REMOVE_LOCALE: function REMOVE_LOCALE(state, payload) {

			// check if the given locale is present in the state
			if (state.translations.hasOwnPro

[2017-02-05 17:52] tikiatua commented on #9
Hi @prakashchokalingam,

Thank you for reporting this. The line should actually be `state.translations = translationCopy;`. I added the respective fix in the branch tikiatua-patch-1 and will publish a new version to npm tomorrow.

[2017-02-05 17:55] prakashchokalingam commented on #9
Thanks for the instant fix !

[2017-02-13 22:41] bayssmekanique commented on #8
For anyone looking to persist the locale easily using vuex-persistedstate, it's actually fairly trivial to do.

First, you'll want to either whitelist paths for persistence or use the reducer function to remove paths that shouldn't be persisted (the `i18n.tranlsations` object should not be persisted).  You'll want to make sure the `i18n.locale` object is going to be persisted however.  For my part

[2017-02-14 07:58] tikiatua commented on #8
Hi @bayssmekanique,

Thank you for posting these instructions. Very helpful

[2017-02-22 12:32] #9 closed

[2017-02-22 12:41] #6 closed

[2017-02-22 12:42] vuduo commented on #7
Fallback is now supported.

[2017-02-22 12:42] #7 closed

[2017-02-22 16:13] #5 closed

[2017-02-22 16:13] tikiatua commented on #9
This should now be fixed in the latest npm version as well

[2017-02-22 16:15] tikiatua commented on #6
P.S. Pluralization is now supported - albeit a little bit different then in vue-i18n. Please see in the readme for a usage example.

[2017-03-01 23:02] jdriesen opened #10 "External file with translations"
Hello,

I have a small question.
You're writing
[code]
Can you please tell me how to 'load' such an external file ?

Thanks in advance for your reply & help,
Johnny

[2017-03-02 08:49] tikiatua commented on #10
Hi @jdriesen ,

You can find an example in the test directory. Basically you just need to load the file via ajax and pass the translations to the plugin.

Please note, that the example is still using vue-resource. This library has been recently depreciated and it is recommended to switch to another ajax library. The authors recommend axios (which we are using now for all new projects).

[code]

Le

[2017-03-02 15:41] glaforest opened #11 "Simple Readme Correction"
[code]

[2017-03-02 16:21] jdriesen commented on #10
Super.
Thanks a lot.
Gonna give it a try asap.
Thanks for your time to give me a reply. Appreciated !

Kind regards,
Johnny

[2017-03-02 16:41] tikiatua commented on #11
Fixed. Thank you for reporting.

[2017-03-02 16:41] #11 closed

[2017-03-19 10:40] #10 closed

[2017-03-20 15:43] Remo opened #12 "Support for translation contexts"
I wonder what approach I'd have to take if I wanted to add some kind of context. By context I refer to gettext, more information about it here https://www.gnu.org/software/gettext/manual/html_node/Contexts.html

I've done a lot of work with gettext before and there's always a point where you need to add a context to support a lot of languages.

[2017-03-21 12:14] tikiatua commented on #12
Hi @Remo,

I am not sure if I understand your question correctly, but what I get from the gettext documentation is the scenario where you have the same string that should be translated differently depending the context that it is required.

As example: The text "open file" should once be translated as "open a file from your system" and the other time just as "open".

In my opinion the solution spe

[2017-03-21 12:18] tikiatua commented on #12
P.S. Please take also a look at the example in the test directory for nested translation objects.

[2017-03-22 07:29] Remo commented on #12
Thanks for the detailed answer @tikiatua!

You're saying that we can use an identifier for the translations which can make sense in some cases. Coming from a gettext background I'm used to have the full English version in my translation tool, but that's probably more a habit than anything else. Either way has some benefits I guess.

If we use identifiers, we can build nested translation keys like

[2017-03-22 14:18] Remo opened #13 "Extracting of strings"
I tried to figure out a way to automatically extract strings. There are a number of tools, some for angular, some make file based tools, so far I only tried to get this running as it seemed easy enough to customize https://github.com/flozz/stonejs-tools

I managed to get something extracted by running this command:

`stonejs extract "dist/**/*.js" file.pot --functions="$t"`

The summary so far:

*

[2017-03-23 20:30] volodalexey opened #14 "AJAX loaded translations not triggered state to re-render components"
[code]

If I load translations by AJAX I can not force component to re-render with new translations.
E.g. when component mounted I have already set locale as 'en', then I check that I do not have translations => download translations => add translations => no re-render.

e.g. part of component that use translations:

[code]

Maybe I have to add some more computed properties? Or how to force re-ren

[2017-03-23 21:47] tikiatua commented on #14
Hi @volodalexey,

This is an interesting question and definitely a use case that we should support somehow. I will look into this tomorrow and see if I can find a solution.

[2017-04-12 17:06] Arxi opened #16 "Using $t() outside of component - in service"
Is it possible to somehow import the $t() method so that it can be used outside of component, i.e. in a custom service? By service I mean a set of methods in a separate file, not tied to any Vue component.

Thanks!

[2017-04-12 17:21] tikiatua commented on #13
Hi there. I will close this issue as it is not directly related to the vuex-i18n plugin

[2017-04-12 17:21] #13 closed

[2017-04-12 17:22] tikiatua commented on #12
I will close the issue for now. As the discussed functionality is way more complex then what is currently possible with the plugin.

[2017-04-12 17:22] #12 closed

[2017-04-12 17:26] tikiatua commented on #16
Hi @Arxi,

Thank you for your question. This should actually be possible by using the methods that are placed directly on the global vue instance. The $t method in the instance is available as Vue.i18n.translate.

[code]
Please let me know if this works for you.

[2017-04-12 17:38] tikiatua commented on #14
Hi there,

Sorry for taking this long time to respond, I got quite swamped at work. We will try to take another look at the problem next week.

[2017-04-13 05:16] volodalexey commented on #14
Hi!
Thanks for reply.
For anyone who wants a quick temporary solution:
[code]

[2017-04-13 12:38] Arxi commented on #16
Thank you, it does! For future reference, here's how I use it in a service called `userMessages.js`:

[code]

and then
[code]

[2017-04-13 12:38] #16 closed

[2017-04-14 01:03] aft3rlife opened #17 "Cannot read property 'hasOwnProperty' of undefined"
Hey, I'm new to Vue/Vuex and I'm trying to use this but I'm having some issues.

I'm loading Vuex in a separate directory/file from my main app.js like so:
[code]

And in my main app.js

[code]

This throws a `Uncaught TypeError: Cannot read property 'hasOwnProperty' of undefined` error. Any ideas on how I can make this work?

[2017-04-14 05:27] tikiatua commented on #17
Hi there,

Thank you for your question. The problem might be due to the fact, that I forgot to update the npm package to the latest version - for which the readme describes the setup.

You still need to register the i18n module when initializing the store in the current npm version.

Please register the module as follows:

[code]

Please let me know if this solves the problem.

[2017-04-14 06:48] aft3rlife commented on #17
Thank you for the quick answer! Should I just download the source and use it directly?

I got it working this way however I'm probably not doing it correctly:
[code]

[2017-04-14 09:13] tikiatua commented on #17
You could use the source from the repo directly, I will however update the npm package probably later today.

The only difference is the initialization of the module.

Your code looks good to me. Vuex uses one "giant" object as state tree and the vuex-i18n plugin only adds a specific i18n property to store the translation to the state tree and provides some convenience functions to access the tran

[2017-04-14 09:18] aft3rlife commented on #17
Alright, thank you for all your help! I will wait until the package is updated.

[2017-04-14 09:18] #17 closed

[2017-05-04 07:41] SirLamer opened #18 ""minified" distribution is not minified"
Just a heads-up.

[2017-05-04 08:54] tikiatua commented on #18
Hi @SirLamer,

Thanks for your comment. Did not realize that until now. Should we rather rename it to umd or actually minify the file.

[2017-05-04 15:52] SirLamer commented on #18
I suggest you publish both cases. In development environments, the dev build will pull the non-minified version and the production build will take the minified one.

[2017-05-10 04:35] OmgImAlexis opened #19 "Adding translations directly to store"
I'd like to use a single file to handle all of my translations similarly to below but I found that I need to import and use `Vue.i18n.add('en', english)` on my root Vue instance instead of just being able to add them to the store. Is there a way around this?

I'd like to have something like below.

[code]

[2017-05-10 10:52] tikiatua commented on #19
Hi @OmgImAlexis,

This is somewhat possible. However you need to tell the es6 module system what the default export from your json translation file should be (and change the filename to js).

[code]

Maybe there is another method to directly import the json as object, but I need to look into that somewhat further. The methhod above is how we use the plugin.

[2017-05-10 11:18] OmgImAlexis commented on #19
Ah I was less meaning that side of it and more towards being able to this everything up in that file and then just have a single thing to export as I'd like to have just `Vue.use(vuexI18n.plugin, i18nstore);` in my main.js file with `i18nstore` being the file from the top post.

[2017-05-23 21:56] cb-fred opened #20 "Cannot set property $i18n of #<Vue$3> which has only a getter"
Hi, I could not get the plugin to work as I get an exception on startup.

### The code that triggers the Error
[code]
### The Exception:
[code]

### The library code that triggers the Exception:
[code]

### Software Versions:

 - Vue: 2.3.2
 - Vuex-i18n:  1.3.4
 - Vuex: 2.3.1

[2017-05-23 22:10] cb-fred commented on #20
Ok, I am an idiot. I had a conflicting install of `vue-i18n`. By the way this plugin is a lot faster, thanks for the work :)

[2017-05-23 22:10] #20 closed

[2017-05-24 07:10] tikiatua commented on #19
Aha. Now I understand. I will look into this.

[2017-05-26 18:03] germanp opened #21 "Customizable placeholder marker in translation dyamic parameters"
Is there any chance to support parametrizing the placeholder syntax for dynamic translations? In the project I'm working we already use double braces (`{{ }}`). Eg.:

`{{ $t('You have {{count}} new messages', {count: 5}) }}`

So, should be great to configure {{ and }} as the separators instead of just { and }

Cheers

[2017-06-22 11:19] tabun-matadorov commented on #14
I've managed to get component to be updated on store change. I've just override ADD_LOCALE to use `Vue.set()`
[code]
and that's all.

[2017-06-22 11:40] tikiatua commented on #14
Marvelous, I already thought that something like that should work but just did not get around to try it out. I will adapt the code accordingly.

[2017-06-22 14:30] tikiatua commented on #14
Ok. This was actually a little bit more difficult. We did not want to use Vue.set in the module, to avoid having to load the Vue module explicitly.

However we managed to trigger the observer on the translations by calling `state.translations.__ob__.dep.notify();` after updating the store. This seems to do the trick as well. We also added a respective "test case" to the testing page.

Version 1.3.

[2017-06-22 14:30] #14 closed

[2017-06-22 14:37] tikiatua commented on #19
Hi @OmgImAlexis,

I finally got around to look into this issue.

We actually apply some transformations to the locale data to flatten the information. This is done in the function flattenTranslations in vuex-i18n-store.js. We could export this function from the package to let you flatten the translation data on your own and then just set it on the store directly.

[2017-06-22 15:17] tikiatua commented on #21
Hi @germanp
This is certainly a prominent use case. We added the feature in version 1.3.6

[2017-06-22 15:17] #21 closed

[2017-06-22 15:17] tikiatua commented on #19
Hi @OmgImAlexis,

I finally got around to look into this issue.

We actually apply some transformations to the locale data to flatten the information. This is done in the function flattenTranslations in vuex-i18n-store.js. We could export this function from the package to let you flatten the translation data on your own and then just set it on the store directly.

[2017-06-22 18:17] tabun-matadorov commented on #14
@tikiatua Great that you have found better way. I was sure there is better way than use `Vue.set` but since that was already loaded in my code it was the fastest&easiest to use.
Thanks for the update.

[2017-06-23 11:47] Eiskis opened #22 "How do I check if a given message has a translation available?"
It seems that there is no way to check if a given translation message exists. I can use `$i18n.exists` to check if a _local_ exists, but that's it.

I'd like to be able to perform the same checks that the plugin does when deciding what to render (for example when to fall back to the key), so I can decide to not render anything in any given situation. For example, if there is no translation for the

[2017-06-23 11:54] tikiatua commented on #22
Hi @Eiskis,

I understand your use case, but I am not sure if providing a message exists function is the best way to go about this. Especially edge cases with variable replacements and pluralization might be hard to get right as well.

Maybe another way to go about this would be to have the option to provide a default translation for a key (as second argument)

[code]

[2017-06-23 12:24] tikiatua commented on #22
I added the function $i18n.keyExists to the plugin in version 1.3.7. Might come in handy for other use cases as well.

I will also think a little more about the option to provide a default translation key.

[2017-06-23 12:37] #22 closed

[2017-06-23 13:32] Eiskis commented on #22
Thanks for the quick response and quick fix! I'll use `keyExists` for now to get around this.

I like the default translation approach a lot actually, cuts down on the boilerplate and provides a good pattern to the user that can also be documented easily. Basically I don't think rendering keys makes sense in production very often (if ever?), but now they serve as default translations which the use

[2017-06-23 13:38] tikiatua commented on #22
Our initial idea was, that the key itself would be the default translation. This way you would not have to think about keys for translations strings but just use the translation string directly.

However, this proved to be not working so well if using multiple locales and changing the translations later on. Therefore the default option would probably make more sense.

[2017-06-23 14:12] Eiskis commented on #22
That's exactly my experience as well. Having douple-purpose keys like that is tricky because then those keys will be in constant flux and the default translations will have to be synced across all localisation files, and thus might be duplicated who knows how man times. It's better to separate those concerns.

[2017-06-23 20:10] jackarcher73 opened #23 "structured object tree does not work"
for translation defined as:
	"lang": {
		"en": "EN",
		"ch": "CH",
	},

$t('lang.en') does not work in 1.4
It does work in 1.3.4

[2017-06-23 20:54] tikiatua commented on #23
HI @jackarcher73,

Thank you for reporting this. I fixed it in 1.4.1 and just published it to npm.

[2017-06-23 20:55] #23 closed

[2017-06-26 07:21] nlefebvre1410 opened #24 "pb de translate"
hi,
I have my translation in ajax.
On my home if the component is static the translation is not done.
Thank you for your help
main.js
[code]

[2017-06-26 08:57] tikiatua commented on #24
Hi @nlefebvre1410

Thank you for your question. As I can glance from your code, I am not sure if you are initializing the plugin correctly. Please see the example below on how to do so. You must initialize the sore first and then pass the store the the plugin using the method `Vue.use(vuexI18n.plugin, store)`.

[code]
Please let me know, if this solves your problem.

[2017-06-26 09:38] nlefebvre1410 commented on #24
yes ,
Here is the complete hand:
`import Vue from 'vue'
import Vuex from 'vuex'
import VueAwesomeSwiper from 'vue-awesome-swiper'
import jQuery from 'jquery'
import VueHighcharts from 'vue-highcharts'
import store from './store'
import vuexI18n from 'vuex-i18n'
import axios from 'axios'
import VueFormGenerator from 'vue-form-generator/dist/vfg-core.js'
import 'vue-form-generator/dist/vfg-core.css'

[2017-06-26 15:03] tikiatua commented on #24
Hi again,

Unfortunately, I am not able to replicate your problem (see code below, that is working as expected, albeit using vue-resource instead of axios).

Please make sure you are using the latest version of the vuex-i18n plugin (v1.4.1). You also seem to have multiple store attributes that you pass to the Vue instance (store and stores). Maybe this could lead to a conflict?

[code]

[2017-07-07 04:40] justinFather opened #25 "dist/vuex-i18n.min.js(new build 13 days ago) has a problem"
Sorry, I didn't capture the error messages.

Im using vuex-i18n in nuxt framework. Nuxt gave me the errors related with vuex-i18n.

It said the errors occurred in ADD_LOCALE.

I thought it was caused by 'flattenTranslations' and it was pointing the field of 'undefined'.

I saw the message at the time, but it was bundled by nuxt. so the field name is not the original one.

Anyway I fixed it with re

[2017-07-14 09:27] Tazer opened #26 "Problem when running vue 2.4.1 Cannot read property 'dep'"
I'm getting the following error:

[code]

[2017-07-14 09:33] tikiatua commented on #26
Hi there,

Thank you for reporting this. I will look into it today. This is probably the same issue as #25.

[2017-07-14 09:35] Tazer commented on #26
@tikiatua cool! Thanks. Yeah your probably right! 👍

[2017-07-14 13:38] tikiatua commented on #25
Hi @justinFather,

I just pushed a new version (1.4.3) that should fix the issue. It could have to do with the version of vuex that you are using.

[2017-07-14 13:39] tikiatua commented on #26
Hi @Tazer

I just pushed a new version (1.4.3) that should fix the issue. It could have to do with the version of vuex that your are using.

[2017-07-14 15:11] Tazer commented on #26
Tried it out and not getting the dep error atleast 👍

[2017-07-16 15:56] #25 closed

[2017-07-28 13:26] #24 closed

[2017-07-29 14:58] viktorvillalobos opened #27 "vuex-persistedData()"
I'm using the [vuex-persistedstate](https://github.com/robinvdvleuten/vuex-persistedstate) plugin, but for some reason i18n is not stuck in the store, any ideas?

[2017-07-29 20:52] tikiatua commented on #27
Hi @viktorvillalobos,

Thank you for your request. I did take a quick look at the vuex-persistedstate plugin, but did not yet really understand how the plugin achieves its functionality.

The problem might arise due to us using a separate vuex store module (i18n by default) to save the translation data. This might not be handled by the reducer introduced with the vuex-persistedstate plugin and thu

[2017-08-02 17:37] viktorvillalobos commented on #27
Hi @tikiatua , thanks for response.

This is the problem, anyway happy holidays.

[2017-08-03 16:15] Zambiorix opened #29 "fallback not working as expected"
Hi,

A locale can be:

`
en
en-UK
en-US
nl
nl-NL
nl-BE
...
`

Imagine I set the fallback locale to "en" and the actual locale to "nl-BE" (based on browser)

If a translation is missing from "nl-BE", I expect that the first fallback is "nl" and if it is still missing then fallback to "en".

In the current implementation this scenario falls back immediately to "en"

Looking forward to your feedback

[2017-08-03 19:46] tikiatua commented on #29
Hi @Zambiorix,

Thank you for your feedback. The locale system is actually very crude and does not include any "intelligence". It is somewhat intentional, as for our use cases the fallback is somewhat of a last resort if the key was not defined for the current locale.

To avoid putting to much into one plugin, It would probably make sense to have an additional complementary plugin that would deter

[2017-08-03 20:35] Zambiorix commented on #29
I'm fairly new to Vue :-)

Why would you want an extra plugin for that? If the i18v plugin would allow a handler (to define the actual locale) wouldn't that be enough?

[2017-08-04 06:37] tikiatua commented on #29
It is basically about separation of concerns and there are two possible problems that I see with the scenario of determining a fallback locale:

1) We need a sensible way to detect the users current locale. This is not necessarily straightforward especially for older browsers, and might lead to problems if the library is used with server side rendering.
2) The fallback locale translations must be

[2017-08-04 12:32] Zambiorix commented on #29
1. You could leave locale detection out of any plugin, and up to the developer. Indeed many scenario's are possible. A good x-platform locale detection plugin would be handy indeed, but totally disconnected from the i18n plugin.
2. You could also leave locale loading up to the developer, I am doing this in my projects already.

It is possible to give some advice on how to implement those scenario'

[2017-08-04 12:37] tikiatua commented on #29
Hmm.. That sounds quite feasible. I will take a swing at it and see if I can get this to work.

[2017-08-04 12:50] Zambiorix commented on #29
Currently, I organise my root language file as follows:
This ways it is easier for translators to find out what all the texts mean, see the translations of a text together + with a good json editor you don't see one long list but collapsible blocks

When done, I flatten and split the file in a format that i18n can load

i18n.en.json =>
"all.account.toolbar-menu.links.sign-in": "Sign in",
...

`
{

[2017-08-04 12:57] tikiatua commented on #29
Hi there,

there is a new version 1.6.0 that should implement the fallback locale as you proposed.

[2017-08-04 13:03] Zambiorix commented on #29
that was fast :-)

[2017-08-04 13:04] tikiatua commented on #29
That sounds like a reasonable way to go about organization of language files. Do you already have some tooling available to split the files into language specific translations?

It would be nice to have sort of a command line interface tool to
a) gather all translations in the source files and generate – or even better update – the translation source files and
b) transform the translation source f

[2017-08-04 13:06] Zambiorix commented on #29
I have some stuff done in golang for api projects, but I am looking into webpack plugin to create statics on the go based on my global file

[2017-08-04 13:07] Zambiorix commented on #29
the idea is to do this automatically on dev / deployment builds

[2017-08-04 13:09] tikiatua commented on #29
My initial thought was also to use golang for this, as we are programming practically all of our server stuff in golang and I am though quite familiar with it.

But I agree with you that a webpack plugin would probably be easier to integrate into the build pipeline directly.

[2017-08-04 13:12] Zambiorix commented on #29
javascript / vue / webpack, it is all fairly new for me .. steep learning curve, it will take some time
I'm backend (golang/.NET) and native mobile app developer

[2017-08-04 13:16] Zambiorix commented on #29
it is working!
thank you!

[2017-08-04 23:16] #29 closed

[2017-08-06 09:01] HDP2017 opened #31 "about date localization"
Can support it, how to achieve it？

[2017-08-06 09:38] tikiatua commented on #31
Hi @HDP2017,

That is a good question. Date localization is actually very tricky on its own. For now, I would suggest to use a library such as moment.js to localize the date string and then pass it to the translation as a placeholder.

`<p>$t('post.date', 'You posted this on {date}', {date: localize(datevalue)})</p>`

The localize method should be added as method to the respective component – or a

[2017-08-06 10:46] HDP2017 commented on #31
moment.js!!! In fact, my project using the plug-in, everything is a matter of course, thank you

[2017-08-24 02:25] jniyaz opened #32 "Cannot read property 'split' of null"
Cannot read property 'split' of null at translateInLanguage.. in Vue- Quasar framework.. any solutions?

[2017-08-24 03:31] jniyaz commented on #32
it works now. default language setup issue, main.js updated.

[2017-08-24 03:31] #32 closed

[2017-08-29 16:42] aft3rlife opened #33 "Changing languages dynamically with Nuxt"
Hi, I'm trying to use this with Nuxt as a plugin like so:

[code]

Which works fine however when changing the language in the state (from locale = 'en to locale = 'fr' for example) the strings aren't changed on the fly. Is there any way to achieve this?

[2017-08-29 20:31] #31 closed

[2017-08-29 20:45] tikiatua commented on #33
Hi @aft3rlife,

Thank you for your question. Setting the locale with Vue.i18n.set(store().state.locale) will dispatch an action to the i18n module in the store with the current value of `locale`. Updating the locale in the store will not re-dispatch the action and thus not update the translations.

However, I can think of three possible approaches that should be feasible to achieve what you intend

[2017-08-30 03:44] OmgImAlexis commented on #19
@tikiatua was this closed because it was added or for another reason?

[2017-08-30 05:54] tikiatua commented on #19
Hi @OmgImAlexis,

I closed the issue because – as it seems to me – handling the locale data this way would encourage a somewhat not so good practice of including all the different locale translations directly up front instead of loading only the necessary locale data.

Basically the vuexi18n-plugin will only create a vuex-module to handle the locale data (see screenshot below). So you should be ab

[2017-08-31 07:16] geertolaerts opened #34 "component based translations"
Hej,
I was wondering if somebody like component based translations would be possible. What i mean by this is that each component/page would add its own translation, this would keep the separation much cleaner. So each component would do
[code]
and in the component/page
[code]
I quickly tried this out now, but it seems when you add with the same key, they don't get merged but overwritten.

[2017-08-31 07:18] tikiatua commented on #34
Hi @geertolaerts,

This is a very good idea indeed and not currently possible. We could add a new method this.$i18n.merge('en', english), that would allow merging component based location information. That should actually be not to hard to implement.

[2017-08-31 07:21] geertolaerts commented on #34
cool, i look forward to it.
Not that pressing for me right now, as i am just starting with i18n, but it would be much cleaner i think.

[2017-08-31 07:53] tikiatua commented on #34
There is a new release v1.7.0 that should enable the functionality you requested. We ended up modifying the `add` method to extend the translations and adding a new method `replace`, that will replace all existing locale translations (just like `add` did before).

Please try it out and let me know if it works for you.

[2017-08-31 09:18] geertolaerts commented on #34
Nice,
Works like i expected.
Another suggestion would be namespacing. So you can have your translations like:
[code]
and then `this.$i18n.add('en', translations, NAMESPACE)` so you can't get clashes. and when using $t('key', NAMESPACE).

[2017-08-31 09:30] geertolaerts commented on #34
only shame is that if you do it in the `created` it ll do it every time the component is created

[2017-08-31 10:21] tikiatua commented on #34
That is correct. The best way would probably be to have a webpack plugin that would strip out all respective translations and pack them in a single file for fetching. This could be further optimized to create a structure that can easily passed on to translators.

We have already done some thinking in this direction. However, given our current workload, it will probably take some time until we can

[2017-08-31 11:01] geertolaerts commented on #34
yeah,
This is fine for my current needs. Would be worse if i would use rest or something to fetch the translations, then it would be a rest call each time.

[2017-09-01 13:03] distantnative opened #35 "Use $t() outside of handlebar-able context?"
I am trying to use the `$t()` helper function within an component in the `template` part, but within an object that is passed as prop to the child component. This is not working – is there a way? Thank you.

[code]

[2017-09-01 13:35] tikiatua commented on #35
Hi @distantnative

Could you try to use a computed property (or a method) to be passed to the fields prop, instead of directly passing an array of fields.

[code]

[2017-09-01 13:55] distantnative commented on #35
Works! Thank you :)

[2017-09-01 13:55] #35 closed

[2017-09-08 13:19] corcus opened #37 "$t function returns ascii codes for special characters"
Hi,

I am using vue in combination with server side rendering (Razor views from ASP.NET MVC).
I am using the vuex-i18n plugin to get translations inside vue components (which are off-course not rendered server side).

The way I set the translations is the following
[code]
The LanguageHelper and Translate functions provide the necessary values on the server side rendering time. They will later be u

[2017-09-08 14:26] tikiatua commented on #37
Hi @corcus

This sounds like an interesting problem. I do need some clarification to help you with this. So if I understand you correctly, you basically want to specify translations with special non ascii characters and the result should be the text string but not encoded in ascii.

[code]

Doing this in the test file, that we have in this repository does return the string correctly without specia

[2017-09-08 15:15] corcus commented on #37
You have understood my goal correctly.

I will read into the issue you provided. It does seem interesting.
In the meantime I have found a workaround. Instead of using the mustache syntax {{}} which [interprets the data as plain text](https://vuejs.org/v2/guide/syntax.html#Raw-HTML) I use the **v-html** directive
and it looks like this
`<div v-html='$t("label_result")'></div>`

Thanks for your resp

[2017-09-13 06:54] #37 closed

[2017-09-25 15:32] nnjeim opened #39 "vuexI18n Error in render function: "TypeError: Cannot read property 'split' of null""
Hi all,

i am using the following <label>{{ $t('name') }}</label>
in some components i am getting the subject error in some other it is working.
the translation is being printed correctly but the i am getting the error in the console.
Anyone to advise please.

[2017-09-25 15:43] tikiatua commented on #39
Hi @nnjeim,

Could you maybe post your setup code? Maybe the translation is not yet loaded when you try to access the key?

[2017-09-25 15:45] tikiatua commented on #39
It could also have to do with the locale not being specified yet.

[2017-09-26 05:42] nnjeim commented on #39
Hi,

the translation files are mounted in the window as window.locales and i managed to make it work by
calling i18n from beforeMount, it is working now.... any best practice to share here?
thanks a lot,

 beforeMount () {

    this.$foreach(window.locales, (labels, locale) => {
      this.$i18n.add(locale, labels);
    });

    this.$i18n.set(window.Locale.lang);
  }

[2017-09-26 07:24] nnjeim opened #40 "translate placeholder html tag"
Hi,

How to translate a placeholder i have tried  placeholder="{{ $t('placehoder') }}"
i also tried placeholder="{{ 'placeholder' | translate }}"

please advise

[2017-09-26 20:56] galchenkov commented on #40
`<input :placeholder="$t('placeholder')">`

[2017-09-28 01:22] AlexanderReiswich opened #42 "Adding component as parameter"
Hi there,

I'm looking for a way to include another component within a translation.
So here's a hypothetical example:

`"View my <vue-link>profile</vue-link>!"`

So basically the translation function should look like this:

`$t('view_profile', {'profile': '<vue-link>profile</vue-link>'})`

And the string:

`"View my {profile}!"`

Of course the component won't render when you simply pass it as a pa

[2017-09-28 23:23] lostinlight commented on #40
Hi everyone,
many thanks to the author for the plugin.

If I'm not mistaken, there're no getters or method in the store to retrieve all available locales. What's the most appropriate "vuex way" to get that data to display in templates?

All I can think of is:
`const locales = Object.keys(this.$store.state.i18n.translations)`

Didn't want to open a separate issue for this one, sorry for hijacking y

[2017-09-30 14:23] tikiatua commented on #42
Hi @AlexanderReiswich,

I do understand your usecase, however, unfortunately this is currently not possible.

The problem is, that the <vue-link> component needs to be transpiled into a javascript function that will in turn render the respective component. We save simple translation strings in the vuex store, therefore this would probably require a major rewrite of the plugin.

We currently split

[2017-09-30 14:23] #42 closed

[2017-09-30 14:24] tikiatua commented on #39
Hello @nnjeim,

I will try to add a fix to the plugin in the upcoming days, that will make sure that no error is thrown if this situation happens.

[2017-09-30 14:27] tikiatua commented on #40
Hi @lostinlight,

your suggestions seems about right. Basically we simply store an object with the translations in the vuex store and you are free to access the data any way you like.

We could also add an array to keep track of the locales that have been added to the store, but this might be overkill.

[2017-09-30 19:06] lostinlight commented on #40
@tikiatua Thank you!

[2017-10-01 01:47] cyf593240704 opened #43 "this.$t("xxx") can‘t switch language,but {{$t("xxx") }} can,I don't know why！！！！！"
God, I wrote {{$in Vue (“content”)}} can switch in English, but in JS this.cont = this.$t (”content“) to display only a word, after switching to no effect, this is what happened in the ah, no wrong, why can be written in HTML, JS assigned to data data binding is not? Call for help!!!

[2017-10-01 01:50] cyf593240704 commented on #43
Why is it written in HTML, and the assignment to data bound data in JS is no good? Call for help!

[2017-10-01 09:10] tikiatua commented on #43
Hi @cyf593240704,

Thank you for your question. Unfortunately I cannot completely understand your problem with the information you provided. Please post some more code surrounding the issue.

However, I would think, that your understanding of the inner "magic" of vue needs some clarification.

Vue properties in html templates - the {{$t('something'}} part - are reactive. This means that vue will s

[2017-10-08 14:05] cyf593240704 commented on #43
main.js
import 'babel-polyfill';  //es6
import Vue from 'vue';
import Vuex from 'vuex';
import vuexI18n from 'vuex-i18n';
import App from './App';
import router from './router';
Vue.use(Vuex);
const store = new Vuex.Store({
    /*modules: {
        i18n: vuexI18n.store
    },*/
    state: {
        lang:'zh-cn'
    },
    mutations:{
        changeLangMu(state, lang){
            // state.lang = l

[2017-10-08 14:06] cyf593240704 commented on #43
App.vue

<template>
  <div class="hello">
    <button @click=changeLang() >{{lang}}</button>
    <div>vue:{{$t('content')}}</div>
    <div>js:{{content}}</div>
  </div>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      lang:'English',
      content:'',
    }
  },

  created(){
    this.content = this.$t("content");
  },

[2017-10-08 14:08] cyf593240704 commented on #43
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      lang:'English',
      content:'',
    }
  },

  created(){
    this.content = this.$t("content");
  },
  methods:{
      changeLang(){
        var lang = this.$store.state.lang ;
        if(lang == 'zh-cn'){
          this.$store.state.lang = 'en';
          this.lang = '中文';
        }else{

[2017-10-08 14:08] cyf593240704 commented on #43
App.js
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      lang:'English',
      content:'',
    }
  },

  created(){
    this.content = this.$t("content");
  },
  methods:{
      changeLang(){
        var lang = this.$store.state.lang ;
        if(lang == 'zh-cn'){
          this.$store.state.lang = 'en';
          this.lang = '中文';
        }e

[2017-10-08 14:10] cyf593240704 commented on #43
<div class="hello">
    <button @click=changeLang() >{{lang}}</button>
    <div>vue:{{$t('content')}}</div>
    <div>js:{{content}}</div>
  </div>

[2017-10-08 14:10] cyf593240704 commented on #43
App.vue

<div class="hello">
    <button @click=changeLang() >{{lang}}</button>
    <div>vue:{{$t('content')}}</div>
    <div>js:{{content}}</div>
  </div>

[2017-10-08 14:15] cyf593240704 commented on #43
How can this.t (''content'') written in JS be able to switch language like $t ('content') in Vue?

[2017-10-23 20:02] Buzut opened #44 "Translate outside of templates"
First of all, thank you for this awesome plugin!

`$t` or filter methods seem to be available in templates ony. I'd need to pass translations dynamically via components props inside the router like so:

[code]

Is this possible? How should it be done?

[2017-10-24 10:58] tikiatua commented on #44
Hi @Buzut

Thank you for your question. The problem is, that you need access to the vuex store, which is usually not available in the file where you setup your routes.

You could manage this by having an init function for all routes to which you pass the vue instance that has the store attached. Then you can access the translations through the vue.i18n.translate function. However, it could be, tha

[2017-10-25 05:49] Buzut commented on #44
Hi @tikiatua

Thank you for your kind answer.

Finally, I managed things a bit differently. I'm passing the translation placeholder rather than the translation itself and let the component handle the actual translation with `$t` method. This works equally well.

As the variable is holding the translation placeholder, it mustn't be escaped in the `$t` function, that's all.

[code]

[2017-10-25 07:34] tikiatua commented on #44
Great. Thanks for the update

[2017-10-25 07:34] #44 closed

[2017-11-03 08:00] tikiatua commented on #27
Closing this, as the problem arises due to the way huex-persistedstate handles persistence.

[2017-11-03 08:00] #27 closed

[2017-11-03 08:20] tikiatua commented on #39
Hi @nnjeim,

I added a corresponding fix and will push an updated version sometime today.

[2017-11-03 08:20] #39 closed

[2017-11-03 08:21] #40 closed

[2017-11-03 08:22] #43 closed

[2017-11-03 08:23] #33 closed

[2017-11-03 08:25] #19 closed

[2017-11-03 08:48] tikiatua commented on #18
I finally managed to do this. There is now a new vuex-i18n.umd.js file and the vuex-i18n.min.js is a minified version of this. Will release this later today

[2017-11-03 08:48] #18 closed

[2017-11-06 15:20] Tazer opened #45 "Error when updating from 1.7 > 1.8 SSR"
[code]

So it complains on export default index; (SSR)

[2017-11-06 15:24] tikiatua commented on #45
Hi @Tazer,

Could you try to use the file dist/vuex-i18n.umd.js? We switched the default file of the package to the es6 version. This is probably the cause of the error you are seeing.

[2017-11-06 15:36] Tazer commented on #45
@tikiatua  I will try todo that, is there any good why  todo that with npm/yarn package.json ?

Cause my vuex-i18n is just:  "vuex-i18n": "1.8.0", in (package.json)

[2017-11-06 15:49] tikiatua commented on #45
It should be possible to specify the path when you actually import the script.

[code]

Alternatively you could edit the package.json file in the directory node_modules/vuex-i18n and set the property "main" to "dist/vuex-i18n.umd.js",

[2017-11-14 16:14] infinite-dao opened #46 "Implement vuex-i18n together with Nuxt.js (SyntaxError Unexpected token export)"
I have difficulties to implement vuex-i18n together with Nuxt.js (modules mode). Now I get the error message: `SyntaxError Unexpected token export`

Can someone help please or direct me into the right direction or provide the base setup structure to implement vuex-i18n together with Nuxt.js? A small outline example perhaps?

So far I put the code into folder `plugins`. As far as I understand our N

[2017-11-14 16:41] tikiatua commented on #46
Hi @infinite-dao,

Please try using `import vuexI18n from 'vuex-i18n/dist/vuex-i18n.umd.js';`  to load the vuex-i18n plugin.

We changed the default file to the es-version, which is probably why you are seeing the token error message.

[2017-11-14 21:29] infinite-dao commented on #46
Indeed `import vuexI18n from 'vuex-i18n/dist/vuex-i18n.umd.js';` brings the translations to work.

Thanks @tikiatua

[2017-11-14 21:30] tikiatua commented on #46
Great. I will add a respective comment to the readme file tomorrow

[2017-11-14 21:30] #46 closed

[2017-11-17 14:25] chlab opened #47 "Suggestion: add link to locale-man :)"
Hey guys

Thanks for your great library! I've used it before in a large project and before I use it again, I figured I would write a little helper for adding translations: [here](https://github.com/liip-amboss/locale-man).

If you deem it useful, feel free to link it in your Readme. I'll add functionality as I need it (e.g. removing/updating translations, ordering the translation files alphabetica

[2017-11-20 07:40] tikiatua commented on #47
Hi @chlab

Many thanks for developing this utility. This will come in very handy on our next project. I added a respective section to the readme.

[2017-11-20 07:40] #47 closed

[2017-11-20 11:15] infinite-dao opened #48 "Translation of HTML context (e.g. paragraph with links inside)"
Hi,

by default all HTML in a translation key is rendered as string and no possibility is given to render also translated HTML within a translation key. Right? How is it possible to capacitate the package and having something like the  component interpolation of `<i18n>` in [vue-i18n](http://kazupon.github.io/vue-i18n/en/interpolation.html#advanced-usage)? So the code would look like:
[code]
… tha

[2017-11-21 09:00] tikiatua commented on #48
Hi @infinite-dao,

I have seen this functionality in vue-i18n and think it is an important use case. Unfortunately, vuex-i18n does currently not support this. In my opinion, the solution of vue-i18n might also have some room for improvement.

For now, we are using the locale detection with $i18n.locale() and render different components based on the respective locale.

[2017-11-21 16:23] infinite-dao commented on #48
One quick work around I could find was to use [`v-html` directive of Vue.js](https://vuejs.org/v2/api/#v-html) but it is not save, it can look like this:
[code]

[code]

[2017-11-23 18:09] Buzut opened #49 "Method for accessing translations within methods"
Hi,

Thank you for this great module. Correct me if I'm wrong, but there's not builtin method to access a given translation from within methods.

For instance, if I want to pass a translated text to some functions, the only way to do it is directly via the store:

[code]

It would be awesome to have a helper method for that. Like `this.$i18n.translate('blabla');`

[2017-11-24 09:09] tikiatua commented on #49
Hi Buzut,

There is a helper function for that. You should be able to get the translation with `this.$i18n.t('blabla')`.

We should probably add this to the readme and make the same function accessible with this.$i18n.translate.

[2017-11-24 09:10] tikiatua commented on #49
Oh, sorry, small correction.. you need to use `this.$t('blabla')` to access the translation.

[2017-11-24 13:26] Buzut commented on #49
Awesome thank you. As it wasn't in the readme, I inferred that it didn't exist. I should have given a look at the source :)

[2017-11-24 13:26] #49 closed

[2017-11-30 10:27] kikky7 opened #50 "Implementation with vue-router"
Is there a documentation or an example how to use this plugin with vue-router to add language prefixes to routes and to translate route names?

[2017-11-30 15:28] tikiatua commented on #50
Hi @kikky7,

There is currently no example for this. But I would recommend to pass the language key via a property i.e. `/:locale/somepath`

And then set the locale using a router.beforeEach navigation guard https://router.vuejs.org/en/advanced/navigation-guards.html.

To do this, you need to initialize the routes while passing the respective vue instance to the init function (see #19 for an examp

[2017-12-12 14:27] EmilianoBarbozaOjeda opened #51 "Allow transform the translations"
Hi guys!

Great work on this.
I was trying yo find the way to transform the translations to avoid write them many times (upperCase, snakeCase, etc.).
Finally I'm doing this to share the translation component thought all the app.
Maybe this is a good feature:

In my case I'm using lodash to do my transformations and here I can wrap the different requirements.

[code]

[2017-12-12 14:45] tikiatua commented on #51
Hi @EmilianoBarbozaOjeda

Nice solution. Although I would recommend to use the vue plugin system to create custom filters that will allow you to do the uppercase / camelCase / snakeCase conversion.

[code]

[2017-12-12 15:48] kikky7 opened #52 "Get translations inside the components method"
I am trying to use translations object inside the methods. I lost more than 1 hour with this and finally came with this solution, but it is really intuitive to me. Is there any shorter way, because I can't find it in documentation.

[code]

[2017-12-12 15:59] EmilianoBarbozaOjeda commented on #51
Thanks @tikiatua for your help.
I could see that the use of filters in directives were removed, so it's not really possible to do that anymore. This is the discussion where Boris explain that. https://github.com/vuejs/vue/issues/5939

I cannot to this anymore
`v-text="$t('personalInformation') | upperCase"`

[2017-12-12 16:24] tikiatua commented on #51
I see. May I ask what the reason was for you to use v-text instead of mustache interpolation `{{$t('personalInformation') | upperCase}}`?

[2017-12-12 17:47] EmilianoBarbozaOjeda commented on #51
Sure, I don't want to see that syntax when the view is been rendered. That's the case.

[2017-12-12 20:25] andrade1379 commented on #50
Hello @tikiatua I just came across this and would love to have an example of how this can be done.

[2017-12-12 20:40] tikiatua commented on #50
Hi @andrade1379,

I will add an example tomorrow.

[2017-12-13 11:04] tikiatua commented on #51
A short remark for other readers:
This is only the case if you put the interpolation directly into the html of your site. If you pre-compile the vue components (using webpack and vue-loader) or put the markup into a `<script type="text/x-template"></script>` tag, then this should not be an issue.

[2017-12-13 11:04] #51 closed

[2017-12-13 15:11] tikiatua commented on #50
Hi there,

I added an example with vue-router in the test directory. Basically you need to call the function Vue.i18n.set(locale) from the route guard.

[code]

[2017-12-14 15:43] infinite-dao opened #53 "Weird translation of zero count in plural messages (one ::: plural ::: none)"
Using v1.8.0 and doing testing in the test folder: if I enter at “Number of blocks” 0 then the message comes out “We have 0 blocks” instead of “We have no blocks”. This is weird. Somehow function plurals.getTranslationIndex returns 1 which extracts from the message array “We have 0 blocks”.

Am I wrong or could this be fixed? Thank you

[2017-12-15 06:11] uitlaber opened #54 "Get all keys in page"
How to get or handle all keys used in app like {{ $t('key') }} ?
I need send to server keys to translate in backend.

[2017-12-15 15:06] infinite-dao commented on #54
What is your question exactly? To me it appears somewhat vague:
- want to get all keys in (one) page (only) ?
- want to get all keys in an app ?
- want to know how to handle all keys in a app ?

You can:
- check out the provided test directory; in there is contained even the handling of having keys in a separate json file
- by debugging this test example page and checking in the browser’s console

[2017-12-15 15:06] tikiatua commented on #53
Hi @infinite-dao,

Thank you for reporting this. Actually the problem is due to the way that multiple languages handle translations and the fact we introduced this at a later stage in the project and forgot to clean up the testing.

In the file src/vuex-i18n-plurals.js the available plural forms for all languages are defined. By default – which includes English – it will return the first form for

[2017-12-15 16:22] daveo1001 commented on #52
@tikiatua
I'm using another package to set the page header. I'm trying to use your i18n package for the translation.

I get this.$t is not a function, which makes sense, I guess, but I'm not sure how to correct it.

[code]

I also tried sticking it in `created ()` but in that instance `this` is dealing with `data`, not the component.

[2017-12-15 16:35] tikiatua commented on #52
Hi @daveo1001,

It is a little tricky to follow your code logic, given only the snippets above. However, `this` is usually related to the current component and is only available if the component is already initialized.

As a first step: try to use mounted() instead of created(). https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram

If this does not work, I would recommend to use the function

[2017-12-15 17:20] daveo1001 commented on #52
nope and nope :/

But I figured it out. The package i'm using for setting title in header had [an example](https://github.com/declandewet/vue-meta#how-do-i-use-component-props-andor-component-data-in-metainfo).

Thanks for the quick response!

[2017-12-15 17:36] tikiatua commented on #52
So basically you need to use a computed property?

[2017-12-15 18:06] daveo1001 commented on #52
I don't really get the wizardy portion of vue but turning the metaInfo from an object into a function got things cooking. Oh, and I had to move `this.$t()` into a lifestyle function instead of being inside data, which makes sense but I wasn't thinking. Here's the final working code.

[code]

Thanks again for hanging out with me as I got through this!

[2017-12-19 10:15] Haardt opened #55 "v-bind with integrated translation"
Hi,
an 'directive' improvement for the next release:
"v-tbind"

Now i can use it in subcomponents:
<input v-tbind:placeholder="placeholder">

[2017-12-19 15:33] #52 closed

[2017-12-28 15:38] Buzut opened #56 "pluralization placeholder not translated"
Hi,

I'm trying to use pluralization but althouhg I get the correct placeholder (singular and plural based on context), it doesn't get translated.

[code]

For instance, for mutualFriends with values of 1 and 2 I get either

__1 friend_in_common__

or

__2 friends_in_common__

but not the translated text.

I use the lastest npm version, namely 1.8.0. Config is as follows:

[code]

No error is rais

[2017-12-28 15:46] tikiatua commented on #56
Hi @Buzut

Thank you for reporting this. We originally started out from using translations strings directly instead of using keys to look up translations. The behavior that you reported is probably a residual from this.

I will look into the issue tomorrow.

[2017-12-28 15:54] Buzut commented on #56
Hey @tikiatua,

Once again, thank you for your prompt answer!
Hope you'll be able to solve this without much hassle.

I really loving your plugin, so simple and efficient, thank you for this.

[2018-01-02 16:00] tikiatua commented on #56
Hello @Buzut

I did look into the problem and checked our documentation and tests again.

Basically you need to either specify the text to translate directly instead of using a key to lookup a reference:
`{{ $t('You have {count} new message ::: You have {count} new messages', {count: 5}, 5) }}`

Or you specify a key that will contain all translations
[code]

Is this sufficient for your use case or

[2018-01-04 10:10] BlakeHancock opened #57 "keyExists does not check partial fallback for regional locals while $t does"
If I have the following locales added and my current locale is en-US.
[code]

`$i18n.keyExists('login')` will return false but `$t('login')` will still render as expected.

I was looking to do something like this

[code]

[2018-01-04 10:19] tikiatua commented on #57
Hi @BlakeHancock,

Thank you for reporting this. The problem would be on what would be acceptable to define as existing key. Should we also include the fallback locale or only the current language localizations?

Maybe it would be best to keep the method as it is and provide a second argument to define what scope to search the key in.

[code]

[2018-01-04 10:26] BlakeHancock commented on #57
The second argument idea works. For the default though, I would think it would make most sense to follow the same behavior as $t, but that could potentially be backwards incompatible with some peoples projects.

[2018-01-04 10:32] tikiatua commented on #57
The compatibility issue was the reason I proposed to use strict as default. In hindsight I think it is better to use the same logic as for $t and provide the second argument to limit the scope.

We will just publish this as 1.9 and write a respective comment. The fix will be available some time this afternoon.

[2018-01-04 11:46] tikiatua commented on #57
Hi @BlakeHancock

The issue should be fixed now in v1.9.0. It would be great, if you could test it and give us some feedback.

[2018-01-04 13:18] BlakeHancock commented on #57
I have updated to v1.9.0 in my project and everything appears to be good and working.

Thanks for the quick turn around.

[2018-01-05 08:28] #57 closed

[2018-01-08 13:45] Buzut commented on #56
Hello,

Thank you for your detailed answer. Actually, it works as expected. The problem I had was that the `count` variable was returned as a String by the API.

`parseInt` fixed the problem.
[code]
Having the plural forms specified within the same translation string is even better as it's less verbose in the code.

It perfectly fits my use case, so there's nothing to be added.

Again, thank you v

[2018-01-08 13:45] #56 closed

[2018-01-08 13:51] dooboolab opened #58 "typescript support?"
Any typescript support?

[2018-01-08 15:25] tikiatua commented on #58
Hi @dooboolab,

Typescript is currently not implemented, as we are not using it ourselves. I am not really familiar with typescript definitions, but it should actually be quite easy to implement as the api surface is pretty small.

Would be great if someone could add it.

[2018-01-09 00:41] jernejrostan opened #59 "Send missing keys to API service"
Hi,

I have a question more then issue.
I know about  **onTranslationNotFound** but i wonder if there is anyway to watch or observe for missing keys during use of some webpage.

I can get a collection of all missing keys on load, but i do have some missing keys while using webpage. For example some notifications that are launched during usage. And if key is missing i would just send this key to my

[2018-01-09 04:07] kengres opened #60 "Access items in array"
https://github.com/dkfbasel/vuex-i18n/blob/88243690b259613b5a21e794a14b87b3452b3765/test/index.html#L105

Thanks for the plugin, really useful. question though. is it possible to access a single item in a list (array) say i wanted the first item of listing.
`<p>{{ $t('listing[0]') }}</p>`

[2018-01-09 12:03] tikiatua commented on #59
Hi @jernejrostan

Thank you for your input. This is a use case we did not consider before. I adapted the plugin and just published a new release (v1.10.1) that will allow you to do so.

Basically it comes down to updating the translations in the store on the fly. This can be achieved via the method Vue.i18n.addLocale or by dispatching the action store.dispatch('i18n/addLocale'). The addLocale meth

[2018-01-09 12:06] tikiatua commented on #60
Hi @kengres

Thank you for your input. This is currently not possible. I will look into the issue and see if it can be implemented without adding to much overhead to the processing.

[2018-01-09 12:55] SgtPepper27 commented on #46
Hi, got the same error. Using VueJS together with VuetifyJS.

**import vuexI18n from 'vuex-i18n'**
Uncaught SyntaxError: Unexpected token export

**import vuexI18n from 'vuex-i18n/dist/vuex-i18n.umd.js'**
vuex-i18n.umd.js?65ee:388 i18n vuex module is not correctly initialized. Please check the module name: i18n
main.js?3b76:23 Uncaught TypeError: Cannot read property 'add' of undefined

[2018-01-09 13:14] tikiatua commented on #46
Hi @SgtPepper27,

Thank you for reporting this. Could you please indicate the version of vuex-i18n that you are using and post the part of the main file where you are initializing the module.

[code]

[2018-01-09 13:35] SgtPepper27 commented on #46
index.js (Store):

import Vue from 'vue'
import Vuex from 'vuex'
import { vuex } from '../modules'
import vuexI18n from 'vuex-i18n/dist/vuex-i18n.umd.js'
import translationEN from '../languages/locale-en.json'

Vue.use(Vuex)

const debug = process.env.NODE_ENV !== 'production'

const store = new Vuex.Store({
  modules: vuex,
  strict: debug
})

Vue.use(
  vuexI18n.plugin,
  store,
  {
    onTransl

[2018-01-09 14:12] tikiatua commented on #46
Strange. The code looks fine to me so far (although I would not use Vuex and vuex as variables).

Are you using server-side-rendering or running this in the browser?

Please try the following things:

1. use the latest version of vuex.i18n (1.10.1). In this version the plugin is properly name-spaced and preserves existing module state. Maybe this was a source of the problem. If you already started

[2018-01-09 19:22] jernejrostan commented on #59
Nice, will try it out soon :)

[2018-01-10 06:48] SgtPepper27 commented on #46
Hey,

Thanks for the quick reply. Using this with VueJS/VuetifyJS as an electron app.

Your advice of using version 1.9.0 works for me. Last thing i have to check is, if i am using the last version of vuex but for the moment i am happy

[2018-01-10 07:18] tikiatua commented on #46
Thank you for the feedback. This means we broke something with 1.10. I will take a look at the differences between the versions.

[2018-01-10 13:14] Loghorn opened #62 "vuex-i18n 1.10.3 does not work with vuex > 2.5"
Using `vuex` > 2.5 with the latest vuex-i18n 1.10.3 does not work.
The console logs this error: `i18n: i18n vuex module is not correctly initialized. Please check the module name: i18n`

You can easily reproduce the issue by upgrading the `vuex` version in the `test/index.html` page.

The problem relies in the option `preserveState: true` passed to `store.registerModule`, because this prevents the

[2018-01-10 14:19] Serhiy-Nazarov commented on #62
https://github.com/dkfbasel/vuex-i18n/commit/a111ca6676893c0ef1647001ad9ee5f766ec9f67#diff-7278dab49dd6e4424f694900f20af101

{ preserveState: true } in registerModule - it's call error

Look this comment for issue https://github.com/vuejs/vuex/issues/1130#issuecomment-356612119

[2018-01-10 15:18] tikiatua commented on #62
Thank you both for clearing this up. I will adapt the code and push a new version as soon as possible.

[2018-01-10 20:01] tikiatua commented on #62
This is fixed in the latest version 1.10.4. Many thanks your your help.

[2018-01-10 20:01] #62 closed

[2018-01-12 12:40] jernejrostan commented on #59
Works like a charm :)

[2018-01-18 13:08] jonasgroendahl opened #64 "Translating plural statements, lack of documentation"
Hello!

So far I have not been able to translate plural statements like for example:
`$t('{count} car ::: {count} cars', {count: count},count) }}`

How should my key-value pair look in the translation variable? I can't seem to find any information on this in the documentation. This is how my translation variable from English to Danish would initially look by looking at the docs, but nothing is bei

[2018-01-18 13:39] jonasgroendahl commented on #64
OK after a few hours at trying different stuff, i tried the following which worked:
[code]
Hope this is useful to anyone

[2018-01-18 14:19] tikiatua commented on #64
Hi @jonasgroendahl

Apparently the description in the readme is not very clear. I will update the description in the coming days.

[code]
Hope this clarifies things for now.

[2018-01-19 08:03] haijingsea opened #65 "vuex-i18n install error"
I have a project which is running normal,but I import vuex-i18n module,compile is Ok,but I find a issue when I refresh the browser,I need your help ,thank you.
![codepng](https://user-images.githubusercontent.com/34846541/35140282-9a5c4948-fd31-11e7-9999-1ba76431c8b8.png)
![issue](https://user-images.githubusercontent.com/34846541/35140433-2801f234-fd32-11e7-8baa-3d3bcd9daa83.png)

[2018-01-19 08:07] tikiatua commented on #65
Hi @haijingsea,

This error is usually occurring if your code contains es2015 javascript that has not been transpiled by babel and is not yet supported in your browser.

The solution is to either include the vuex-i18n in your transpilation pipeline or to use the transpiled and minified version like this:

[code]

There is a small section in the readme about this. Maybe it is not yet clear enough.

[2018-01-19 08:09] #59 closed

[2018-01-25 17:40] arthurvasconcelos opened #66 "List of available locales"
This is more a suggestion/request than a issue.

Would be nice to have a method that allow me to get all available locales.

[code]

[2018-01-26 08:16] #65 closed

[2018-01-26 08:48] tikiatua commented on #66
Hi @arthurvasconcelos,

Thank you for your feedback. I added the method as $i18n.locales() in the version 1.10.5. An example is given in the test repository.

Please keep in mind that this is a method that will be invoked on every render cycle. To make use of vue's caching system I would recommend to create a getter method or computed property like this.

[code]

The translate method ($t) is also

[2018-01-26 13:20] jernejrostan opened #67 "Translations from API service"
Hi,

Maybe i cant find it, so i am asking here. Is there anyway to load translations before rendering?
I load translations from service, but i do get like 300 Warnings before that (understandable)

Maybe im missing something.

Thanks

[2018-01-26 15:05] arthurvasconcelos commented on #66
Thanks @tikiatua! Great lib you have here!

[2018-01-26 15:31] tikiatua commented on #67
Hi @jernejrostan

Please take a look at the file index.hml in the test directory. The method to fetch translations from an api service if the key is not found is only intended as fallback if all other measures fail. Usually you should prefetch the data when starting the application or in a route guard.

Please let me know if you need any further assistance.

[2018-01-29 11:58] jernejrostan commented on #67
hi @tikiatua

Yeah im tryin to figure out how to load everything in **beforeEnter** and i still get all the warnings. Any ideas?

[2018-01-29 12:45] tikiatua commented on #67
Could you post the code used in the beforeEnter hook? It could be possible, that you are using a promise to resolve the data and the component is rendered before the data actually arrives.

[2018-01-30 06:22] phunsuke opened #68 "Some browsers on the mobile side can not be used,such as Some browsers on the mobile side can not use uc browsers etc..."
After using this plugin, the browser on the computer side is good, but some browsers on the phone side are not available. Opera, chrome, firefox are all available but some of China's native browsers are not available. Look forward to you can solve this problem

[2018-01-30 08:11] tikiatua commented on #68
Hi @phunsuke

Thank you for reporting this. This is clearly an important issue. This is probably an issue with the rendering cycle.

We will be able to look into the problem in the UC browser on iOS. Unfortunately it is very difficult for us to pinpoint the problem in any of China's native mobile browsers as we are based in Switzerland and have no respective testing devices available to us.

Do yo

[2018-01-30 14:36] jernejrostan commented on #67
yeah had some typos :) solved stuff, so now working as expected

[2018-01-30 14:36] #67 closed

[2018-02-06 07:08] cbo317110 opened #69 "Why rollup?"
I love webpack and webpack-dev-server, it is so simple, rollup looks simple too, but hasn't the same popularity that webpack has. Devs may gonna be a little confused (... ?)

Can you, just say, why you choosed rollup over webpack?

I perfect accept replies like "cause i wanted" or "cause i preffer it", but i want understand why you used it.

Thanks!

[2018-02-06 07:10] tikiatua commented on #69
Hi @cbo317110,

We use webpack ourselves for all application projects and it is an awesome tool. Basically the configuration options for rollup were way simpler, which was the reason we chose it for this rather small library.

[2018-02-06 07:14] #69 closed

[2018-02-06 07:15] tikiatua commented on #69
By the way, we created a specific docker container to use webpack (dkfbasel/hot-reload-webpack). https://github.com/dkfbasel/hot-reload

Webpack requires a huge amount of packages that need to be installed in every project directory and we felt a little uneasy with all the external code especially after reading this article https://hackernoon.com/im-harvesting-credit-card-numbers-and-passwords-fro

[2018-02-06 07:16] #66 closed

[2018-02-06 07:22] cbo317110 commented on #69
Certainly i will take a look at it, thanks for your huge attention!
As a Webpack user since 2016, i never noticed it "fat", always noticed it "easy"

[2018-02-06 07:29] cbo317110 commented on #69
@tikiatua you have telegram, whatsapp, or something?

[2018-02-06 11:19] simmons-kyle opened #70 "Get fallback locale method?"
Is there a method available to retrieve the current fallback locale?

I can see we have fallback() as a method which calls the internal setFallbackLocale method but nothing exposed to get the fallback.

[2018-02-06 11:58] tikiatua commented on #69
@cbo317110 I am somewhat conscious about providing contact information as I had some not so great experiences in the past. Feel free to drop me your contact email and I will get in touch with you.

[2018-02-06 11:59] cbo317110 commented on #69
@tikiatua cbo317110@gmail.com

[2018-02-06 12:04] tikiatua commented on #70
Hi @simmons-kyle

Thank you for your question. All the plugin information is essentially stored in a vuex module (i18n by default). You can easily read out the current fallback locale using `this.$store.state.i18n.fallback`.

[2018-02-06 12:59] simmons-kyle commented on #70
Great stuff, thanks for clarifying!

[2018-02-06 12:59] #70 closed

[2018-02-07 08:04] phunsuke commented on #68
Rendering effects is just like uc browser. Can not switch, nor render the correct language. Because in the mobile browser, I temporarily no way to find out the reason

[2018-02-07 16:05] aaronpatty opened #71 "Uncaught SyntaxError: Unexpected token export - vuex-i18n inside cordova-vue"
Hi. I'm getting the following error _at run-time in the browser_. Everything compiles fine, it just encounters this error at runtime and causes the app to crash:
_Uncaught SyntaxError: Unexpected token export
    at Object.<anonymous> (**_app.js:3128_**)
    at __webpack_require__ (app.js:556)
    at fn (app.js:87)
    at eval (eval at <anonymous> (app.js:2436), <anonymous>:47:17)
    at Object.<a

[2018-02-07 16:07] tikiatua commented on #71
Hi @aaronpatty

The unexpected token export is usually due to es2015 code not being compiled. By default the vuex-i18n package is in es2015 code. To use the transpiled javascript code use `import vuexI18n from 'vuex-i18n/dist/vuex-i18n.umd.js';`

P.S. This is mentioned in the readme – maybe still not clearly enough.

[2018-02-07 16:33] aaronpatty commented on #71
I just tried using **import vuexI18n from 'vuex-i18n/dist/vuex-i18n.umd.js'** as you suggested and I received the following error at runtime:

vuex-i18n.umd.js?f89e:386 Uncaught TypeError: Cannot read property 'registerModule' of undefined
    at Object.install (eval at <anonymous> (app.js:3139), <anonymous>:386:8)
    at Function.Vue.use (eval at <anonymous> (app.js:672), <anonymous>:4681:22)

[2018-02-07 16:40] aaronpatty commented on #71
I figured out the problem. I needed to have `Vue.use(vuexI18n.plugin, store)` instead of having them separated into different Vue.use() calls.

Thanks @tikiatua!

[2018-02-07 16:40] #71 closed

[2018-02-07 16:46] tikiatua commented on #71
Thank you for the clarification, great that you found a solution.

As a small tipp: Vue-cordova will use webpack internally to compile all the javascript and vue files using babel.

Now, to make the webpack build process fast, the `node_modules` folder is excluded from compilation – see the file vue-cordova-demo/build/webpack.base.conf.js on line 41 and 47.

To include vuex-i18n in the compilation

[2018-02-08 07:44] phunsuke commented on #68
my project use the requirejs + vue combination, when i use this plugin, the page is nothing but white screen directly.

[2018-02-15 12:24] alphaCastor commented on #68
The same problem. Tested on iPhone 4s.
If you have mac, you can add custom user agent  in Safari to reproduce this bug:

`Mozilla/5.0 (iPhone; CPU iPhone OS 5_1 like Mac OS X) AppleWebKit/534.46 (KHTML, like Gecko) Version/5.1 Mobile/9B179 Safari/7534.48.3`

No errors on console. Empty page.

[2018-02-20 08:57] alphaCastor opened #72 "iPhone 4s, 5, 5s support"
On old iPhones doesn't render pages where i18n is used.

Tested user agent:
Mozilla/5.0 (iPhone; CPU iPhone OS 5_1 like Mac OS X) AppleWebKit/534.46 (KHTML, like Gecko) Version/5.1 Mobile/9B179 Safari/7534.48.3

[2018-02-20 09:00] VladimirFrunza commented on #72
When will you fix this error? #68

[2018-02-21 16:00] madebysoren commented on #50
This seems really promising. However I will still end up in a range of paths that looks like this:
[code]
That doesn't really fit into my needs, which is more like this:
[code]
Is there anyway we can support dynamic language-dependent paths without having to write this:
[code]
... but instead this, which I would much rather use:
[code]

[2018-02-26 10:00] AlexanderYW opened #73 "onTranslationNotFound enhancement make it get the fallback translation as a extra parameter"
what are your thought on making the onTranslationNotFound get the fallback translation as a extra parameter so i can let the server know what the user is getting viewed e.g.

`$t('header.username', 'The username is: {username}', {username: 'Bubbles'})`

`onTranslationNotFound (locale, key, fallback)` will result in:
locale: eg "en-US"
key: "header.username"
fallback: "The username is: {username}"

[2018-02-26 10:09] tikiatua commented on #73
Hi @AlexanderYW

Thank you for your proposal. The onTranslationNotFound method does actually already receive the defaultValue as third argument.

[code]

[code]

Please let me know if this will allow you to implement the functionality you are looking for.

[2018-02-26 10:26] AlexanderYW commented on #73
I tried debugging it with `arguments`, but didn't get it, and neither did i when doing as you wrote, but i just realized that the reason it didn't work was because i was running `1.8.0`, don't know how it got that outdated...

Thanks for FAST support, and making me realized I made a beginner's mistake! :)

[2018-02-26 10:26] #73 closed

[2018-02-27 14:19] tikiatua commented on #72
I will try to look into this sometime this week. Just had to find my older iPhone for testing.

[2018-02-27 14:25] tikiatua commented on #68
Could be the issue referenced here https://github.com/requirejs/requirejs/issues/1234

[2018-02-28 07:15] alphaCastor commented on #68
Hi again. Thank you for your react reply. I reproduced bug. There are my
steps to reproduce it.

1. I created new vue project via vue-cli (vue init webpack-simple)
2. Then to connect from my iphone i added line in dev script
(192.168.100.11 - my local IP):
"scripts": {
"dev": "cross-env NODE_ENV=development webpack-dev-server --inline --port
8080 --host 192.168.100.11 --content-base .",
"build": "

[2018-02-28 07:47] alphaCastor commented on #68
Hi again. Thank you for your react reply. I reproduced bug. There are my
steps to reproduce it.

1. I created new vue project via vue-cli (vue init webpack-simple)
2. Then to connect from my iphone i added line in dev script
(192.168.100.11 - my local IP):
[code]

3. In main.js file i added vuex and vuex-i18n

[code]

4. Result is blank page

I hope this will help us to find any solution to make v

[2018-03-01 09:10] madebysoren commented on #50
If you have any ideas on how to approach this, I have some time to work a bit with this. Please let me know.

[2018-03-01 09:17] kikky7 commented on #50
I developed few projects with similar/same requirements so when I have time I will post an examples, but give me a timeframe of a week or so.

[2018-03-01 09:23] madebysoren commented on #50
@kikky7 Cool. I just got an idea of using wildcard and then redirect based on the specific language-dependent route names. Something like this:

[code]

Is your approach something similar?

[2018-03-05 15:16] vuduongq commented on #68
Hi all.

Is not a vuexI18n problem but a vuex problem in general of the UC browser.

Vuex uses promises but the UC browser does not support promise at default.
See the issue in the [vuex github repo](https://github.com/vuejs/vuex/issues/519).

Using a polyfill should solve your problem.

`https://cdn.polyfill.io/v2/polyfill.min.js?flags=gated&unknown=polyfill`

For the UC browser you also have to

[2018-03-06 09:58] alphaCastor commented on #72
#68

[2018-03-06 10:18] tikiatua commented on #68
You also need to make sure, that only es5 javascript syntax is used in these older browsers.

[2018-03-06 17:46] The-BlackWidow commented on #64
Hi @tikiatua

Is it possible to add the 0 option ? Meaning having apple: [ 'no apples', 'one apple', '{count} apples' ] ?

Thank you

[2018-03-07 14:42] The-BlackWidow opened #74 "Pluralization : setting the amount of variables"
Hi,

I am using French and English translations, but with French I cannot define a "none" alternative. I read the code [vuex-i18n-plurals.js](https://github.com/dkfbasel/vuex-i18n/blob/master/src/vuex-i18n-plurals.js) and noticed French can only have two options.

Is it possible to modify that setting locally?

[2018-03-07 15:27] tikiatua commented on #74
Hi @The-BlackWidow

Thank you for your feedback. This is currently not possible. However, I am not to happy with the current implementation anyways. It would probably make sense to provide the specifications as default and allow for a custom specification per language on initialization of the plugin.

[2018-03-07 15:27] #68 closed

[2018-03-20 20:16] dimaslz opened #75 "Problem when refresh page in Nuxt project"
Hi, I read the others issues about problems with nuxt but anyone can help me. I explain my case:

I using the plugin like this:
[code]

And the first time is working perfect, but when I reload the page, the console is returning:
<img width="541" alt="screen shot 2018-03-20 at 21 12 42" src="https://user-images.githubusercontent.com/1536936/37680207-7b9cfe4a-2c83-11e8-81bc-f22ee0076f5d.png">

And i

[2018-03-22 08:18] tikiatua commented on #75
Hi @dimaslz

Thank you for reporting this issue. We are not using nuxt ourselves, therefore I have very little experience with it. I will try to find some time next week to look into the issue. Would be great if someone else with some experience with nuxt could chime in.

[2018-03-22 08:24] tikiatua commented on #75
Hmm..

According to the nuxt documentation and some issues if found for vuex plugins, it could be possible that plugins need to be registered differently for nuxt.

https://nuxtjs.org/guide/vuex-store
https://github.com/nuxt/nuxt.js/issues/972#issuecomment-332308183
https://github.com/nuxt/nuxt.js/issues/560

[2018-03-22 09:39] dimaslz commented on #75
Hi @tikiatua I did my own i18n plugin and works perfect. I will try to do a PR about my solution. I think it is something easy, but I need to check in deep.

Kind regards!

[2018-04-13 20:32] abhipanda commented on #75
Its a blocker - happening for SSR in general - I am using hackernews template

[2018-04-13 22:41] abhipanda opened #76 "Cannot read property 'translations' of undefined"
Getting the error with SSR module:

vue.esm.js:1717 TypeError: Cannot read property 'translations' of undefined
    at Store.ADD_LOCALE (vuex-i18n.umd.js:40)
    at wrappedMutationHandler (vuex.esm.js:697)
    at commitIterator (vuex.esm.js:389)

[2018-04-25 14:46] atilkan commented on #50
@kikky7 Can you share?

[2018-04-25 14:51] kikky7 commented on #50
@atilkan Yes, I will try in next 2 days, I am very busy these last weeks.

[2018-04-29 15:24] ll931217 opened #77 "this.$i18n returns undefined"
Hello,

As the title says, the global object `this.$i18n` is returning `undefined`.

Here is my `main.js` file:

[code]

In my `App.vue` file I have the following to check if `this.$i18n` is defined:

[code]

Anyone have an idea why `this.$i18n` is undefined?

[2018-04-29 15:56] tikiatua commented on #77
Hi @ll931217

A quick idea: I think this could be due to the use of an arrow function to with the change method in your app component. Arrow functions change the `this` context to the current closure. Therefore this.$i18n would not point the vue component instance anymore.

Could you try to change the method to:
[code]

[2018-04-29 21:33] ll931217 commented on #77
@tikiatua Hello, seems that like fixed the problem. Just learnt something new about the arrow functions, thank you!

[2018-04-29 21:33] #77 closed

[2018-05-09 14:12] davidpelayo opened #78 "`onTranslationNotFound` not triggered when actually not found?"
I may be understood it wrong, but I'm having issues on resolving async translations via Promise due [this line of code](https://github.com/dkfbasel/vuex-i18n/blob/master/src/vuex-i18n-plugin.js#L133)?

It seems that when the translation is not found, it returns the default value but it never hits the [line 172](https://github.com/dkfbasel/vuex-i18n/blob/master/src/vuex-i18n-plugin.js#L172) where i

[2018-05-14 13:43] Zambiorix opened #79 "Error on Internet Explorer 11"
I am getting the following error on Internet Explorer 11
My app runs fine on all other browsers ...

What could be the problem?

[code]
Leading to the file: vuex-i18n.es.js

[code]

[2018-05-14 13:57] tikiatua commented on #79
Hi @Zambiorix

Object.assign is an es6 method that is not directly supported by IE 11. It is usually converted or polyfilled with babel when the code is compiled in webpack. You probably need to update your configuration for babel to specify which browsers to target.

[2018-05-14 15:12] Zambiorix commented on #79
I added this simple test:

[code]

And indeed the assign seems to work, but still I get an error in vuex-i18n that assign is missing

I also installed:
`npm install --save-dev babel-plugin-transform-object-assign
`

And this is my babelrc
[code]

I have no idea what else I can do :-(

[2018-05-14 15:17] tikiatua commented on #79
Could you please post your webpack config file. It could be possible that the vuex-i18n module is not compiled with babel, since it is in the node_modules folder.

Alternatively you could try to use the `import VuexI18n from 'vuex-i18n/dist/vuex-i18n.umd.js';` which contains a pre-transformed version.

[2018-05-14 15:43] Zambiorix commented on #79
`
import VuexI18n from 'vuex-i18n/dist/vuex-i18n.umd.js'
`
Didn't change anything...

This is the babel-loader part of my webpack config (I am using Quasar framework 0.14):

[code]

Originally the '/node_modules/vuex-i18n/' include part was not there, but I tried to add it to see if it works. It doesn't :-(

I must exclude node_modules or the project does not build. Any other way to solve this?

(

[2018-05-14 17:33] Zambiorix commented on #79
Ok .. I solved this temporarily by moving the vuex-i18n.es.js file to my own project until I find a better solution..
(I have a deadline tomorrow 8am to have my project running :-)

Thanks for helping out!

[2018-05-14 19:40] tikiatua commented on #79
I hope you can make your deadline tomorrow. I get the feeling. The last thing that you need then is to worry about some package in your pipeline that acts up.

So, I take it that moving the vuex-i18n.es.js file directly into your project solved the problem. To me, this would really point towards a problem in the configuration of the compilation pipeline.

I would suggest to try to use `path.resolv

[2018-05-18 06:26] davidpelayo commented on #78
@tikiatua, it actually makes sense what you say. It would probably that I hadn't got the locale defined yet. Closing the issue for now.
Thanks for answering.

[2018-05-18 06:26] #78 closed

[2018-05-21 17:11] Zambiorix commented on #79
Without touching the rest of the build configuration, I just added 1 extra webpack rule.
It all works now...

[code]

[2018-05-21 20:35] tikiatua commented on #79
Thank you for following up on this.

[2018-05-21 20:35] #79 closed

[2018-05-27 12:09] rlam3 opened #80 "What is the difference between this package and vuex + i18n installed individually?"
What is the difference between this package and vuex + i18n installed individually?

[2018-05-28 10:30] tikiatua commented on #80
Hi @rlam3

Thank you for your question. The vuex-i18n package is using a vuex module to store all translation information. Translations are accessed via some helper functions provided by the plugin. It does NOT make use of the i18n-package.

The i18n plugin uses a different mechanism (without vuex) to store the translation information. It also provides additional methods and components for localiz

[2018-05-31 19:32] rlam3 commented on #80
@tikiatua Thanks for your reply. I'm interested into understanding more and would love your feedback on when to use vuex-i18n over the normal i18n package it still a bit confusing for me as it seems like both are just trying to achieve the same outcome.

[2018-06-13 02:00] cuivip commented on #80
you mean the difference about this(https://kazupon.github.io/vue-i18n/)  project  ??
I am confused with this  question and reply.

[2018-06-13 02:09] cuivip opened #81 "can you put the render result after the code in the example?"
if there have a render result after example in readme.md would be better.

[2018-06-13 07:40] tikiatua commented on #80
Hi @cuivip

Thank you for your comment. The reply was really somewhat confusing as my autocomplete mixed some things up. I edited the reply to make it somewhat more clear.

If you really want to understand the difference, I would recommend to quickly browse theougj the source code of the two projects. Our idea was, that vuex provides a lot of functionality for reactive state management. Therefore

[2018-06-15 13:09] BruDroid commented on #50
@kikky7 I'm also looking into this. An example would be very awesome.

+1

[2018-06-19 00:00] grzegorztomasiak commented on #50
@kikky7 you faggot, it's june already and you promise stuff since march... you faggot...

[2018-06-19 12:03] atilkan commented on #50
@tikiatua What was that comment? It is already in my mailbox though.

[2018-06-19 14:19] tikiatua commented on #50
Hi everyone,

I deleted the comment as it was not helpful and insulting towards a commenter.

[2018-06-30 11:45] kikky7 commented on #50
I am sorry for delay, but I didn't find any simple solution as in some examples here, also my every project wasn't implemented with full routes translations in the end (only with language change in url), but here is some sample code how you can achieve such solution. It's a little bit of a hack, but as tested, it makes the work done.

https://github.com/kikky7/vue-localized-routes-example

[2018-07-16 13:22] havelock commented on #80
This project, unlike vue-i18n, does not seem to ignore that in a lot of languages pluralforms are more complex than "0 - 1 - many", rendering the former unusable for those. https://github.com/kazupon/vue-i18n/issues/78

[2018-07-23 08:03] HumayraHanif opened #82 "Testing implementation of plugin with Jest"
I'm trying to test vuex-i18n with jest, so we can test it is configured correctly and the correct strings are being generated and retrieved.

Here is what I've added in the test files:
`const localVue = createLocalVue()
localVue.use(Vuex)

let store = new Vuex.Store()
localVue.use(VuexI18n, store)
localVue.i18n.add('en', en)`

where `en` is an imported translation file. I've also been using vue-te

[2018-07-26 06:52] tikiatua commented on #82
Hi @HumayraHanif

First of all thank you for taking the time to implement some real testing. We did not yet get around to it and where simply using manual testing, with the files located in the test folder.

With `import vuexI18n from "vuex-i18n"` you will get an object with the properties `store` and `plugin`. Please make sure that you use the `vuexi18n.plugin` to initialize the plugin, not the c

[2018-07-28 13:19] HumayraHanif commented on #82
Thanks, I've had a bit more luck with getting something working, but there are some limitations. I'll share the code once I've got a bit further in case anyone else is looking for something similar.

[2018-07-31 08:27] GopherJ opened #83 "Anyone the same problem?"
[code]

[2018-07-31 20:33] rbayley opened #84 "Use of Arrays"
Hi,
First, congrats on such a great job.

I notice vuex-i18n flattens arrays and so:

**[
    "before_or_equal"       => "The :attribute must be a date before or equal to :date.",
    "between"               => [
        "numeric"               => "The :attribute must be between :min and :max.",
        "file"                  => "The :attribute must be between :min and :max kilobytes.",
        "

[2018-07-31 20:41] rbayley commented on #84
Sorry, duplicate
https://github.com/dkfbasel/vuex-i18n/issues/60

using lodash _.get wouldnt it help ?

[2018-08-02 06:55] tikiatua commented on #84
Hi @rbayley,

Thank you for your feedback. Honestly, I am not completely sure anymore why we opted to use a flattened translation index.

It is probably at least partially due to the way that the plugin evolved. We did try to provide users with a simple api to specify translation keys, while trying to keep the "lookup" method from becoming to costly.

This is especially an issue, since the transla

[2018-08-03 05:05] zhangqiangoffice commented on #83
show your code

[2018-08-03 07:04] zhangqiangoffice opened #86 "What is the version of your rollup"
The version of my rollup is 0.63.5. When I ran "rollup -c" after some modify of "src/vuex-i18n-plugin.js", I got the Error:
[code]

[2018-08-03 07:46] zhangqiangoffice opened #87 "Why use a "action" to commit a "mutation" ?"
I don't know why you use a "action" to commit a "mutation" in the "src/vuex-i18n-store.js". I'm not very familiar with Vuex. Are there any benefits of such a design？

[2018-08-03 07:56] tikiatua commented on #86
Might well be possible, that the current build options are not for the newest rollup version. Would be good to update the configuration.

[2018-08-03 08:00] tikiatua commented on #87
Hi @zhangqiangoffice

This is the recommended vuex flow. Components should only ever trigger actions, which in turn commit mutations to change the state. A component should not directly call a mutation and an action should not directly modify state. This helps to keep the flow of the application organized once it gets larger. Also all mutations can be inspected in the vue devtools in chrome.

[2018-08-03 08:15] zhangqiangoffice commented on #86
Yes, updating the configuration is good, and can you add the "rollup" to the "devDependencies" in package.json? That would be better！

[2018-08-03 08:36] zhangqiangoffice commented on #87
Where is the recommended vuex flow? I can't find it on the website "https://vuex.vuejs.org"

[2018-08-03 08:45] tikiatua commented on #87
You can find a good illustration directly on the start page of the vuex documentation.

However, the documentation is somewhat hard to grasp, when starting out with vuex. There should be some talks in youtube that explain it quite well.

It basically boils down to components dispatch (async) actions, actions commit synchronous mutations, mutations change state in the store.

Then there are some he

[2018-08-03 13:37] rbayley commented on #84
Hi @tikiatua

Thanks for your reply.

The reason I need to keep the original non-flattened Object is that in some cases I need to loop through the content.

For example.
{
 "title":"Some title",
 "sections":{
    "section1":"my sections name",
    "section2":"other section name"
 }
}

Therefore if I want to create <ul><li></li></ul> I can loop through "sections" and get correct data.
When flatteni

[2018-08-06 09:31] alessandrobellesia commented on #79
In vue-cli you have to add 'vuex-18n' to transpileDependencies in vue.config.js

`module.exports = {
	transpileDependencies: ['vuex-i18n']
}`

[2018-08-08 10:17] #86 closed

[2018-08-09 07:40] tikiatua commented on #48
I will try to look into this sometime during the next two weeks.

[2018-08-09 07:41] #83 closed

[2018-08-09 07:42] #87 closed

[2018-08-12 12:21] polyakov713 opened #92 "Disable no translation warning"
vuex-i18n logs the following as a warning whenever a translation is not found:
`i18n: i18n locale is not set when trying to access translations: forms.signIn.labels.login`
This can be convenient for debugging, but I have certain cases that it is legitimate to not find a translation and I would not like a warning to be logged. In my product we have created components that use the translation intern

[2018-08-13 03:16] zhangqiangoffice commented on #92
good ideal !

[2018-08-17 13:09] adminbmbc opened #93 "Access of $t in vueX action"
hi,

i have tried rootstate.$i18n.t it didn't work.
Any workaround ?

thanks in advance.

[2018-08-17 14:07] tikiatua commented on #93
Hi @adminbmbc

The translate function is currently only exposed on the Vue instance and inside the components. The vuex-i18n state is actually stored in the vuex module i18n (you should be able to see it in the vue devtools). However, the translate function is not available on the store.

A workaround would be to pass the $t function from the component to the respective action and further on to a

[2018-08-19 14:49] Ni55aN opened #94 "Translate sentences"
It may be useful to translate separately every sentence of the paragraph
It can be done with the help of next filter

[code]

I can do a PR if this filter is useful for you

[2018-08-19 19:16] tikiatua commented on #94
Hi @Ni55aN

Thank you for your suggestion. I would like to keep the api of the vuexI18n-plugin rather small. There fore, I would suggest that we finally create a proper documentation and add this in an example section.

[2018-08-23 10:30] stalniy commented on #50
The easy way to do it is to use translations as proposed by @madebysoren + full page reload

[2018-08-25 22:33] akuma06 commented on #50
Hi! I think I would do something like this:
* First, you need to have preloaded i18n with the languages
* Second you do the default routes:
[code]

[2018-08-26 03:51] stalniy commented on #50
It’s good solution but probably will require all languages to be loaded otherwise there will be a bunch of warnings and eventually route path won’t be translated.

However, if we extract all route translations into one file and load it as part of the app bundle, all should be good :)

[2018-08-28 08:59] mnedoszytko commented on #48
bump on that. I need to translate a text with an <i class="fa-icon"> inside, like this

`<li>{{ $t('schedules.set_interesting_options', { icon: 'fa-gear'}) }}</li>`
translate source:

`
{
'en:
{
 'set_interesting_options' => 'Set some interesting options <i class="fa fa-icon :icon"></i>, ... more text'
}}
`

currently it doesnt even render the translate output and outs $t( in the html

[2018-09-02 14:03] ngstwr opened #95 "Is it possible to Lazy load locales when needed"
I don’t want to load all the locale files in the initial load. It will make bundle size bigger and slow down the app.

[2018-09-05 06:10] tikiatua commented on #95
Hi @ngstwr,

You can set the locales at any time. The package does however not provide any lazy-loading functionality. As this is likely to very greatly between different projects.

[2018-09-05 06:10] #95 closed

[2018-09-26 10:38] Jayin commented on #79
why not use [object-assign](https://github.com/sindresorhus/object-assign) to adapter ES5?
As a library,it should not need user hack to much.

BTW, are you using vux, I have same problem with like you.But this problem appear in Android WebView  @Zambiorix

[2018-10-08 12:43] brickgale commented on #50
Hi guys,

right now i'm using this weird solution

[code]

it's kinda hassle adding `Vue.i18n.translate()` function on every path on route. is there any cleaner solution for this? `note: prefixing isn't really in my use case`

[2018-10-11 17:10] HumayraHanif commented on #82
I almost forgot about this :) Updating with what I've managed to put together [here](https://github.com/HumayraHanif/vuex-i18n-test/blob/master/tests/unit/HelloWorld.spec.js)
There were some limitations with what can be tested which I will try to explain either the repo, or in this thread when I get around to it

[2018-10-16 20:31] tikiatua commented on #50
Hi everyone,

I will be presenting vuex-i18n at a Vue meet up in Switzerland and plan to make an additional module to somehow patch vue-router to easily make localized routes available.

[2018-10-16 20:32] #94 closed

[2018-10-16 20:35] tikiatua commented on #48
Hi everyone,

I will look into this again as I am preparing a presentation of the vuex-i18n library for a vue meet up in Switzerland in November. It will probably boil down to using a custom component that will take component functions as props.

[2018-10-16 20:36] tikiatua commented on #82
HI @HumayraHanif

Thank you very much for sharing the testing setup. I will try to set this up for the repository together with some proper documentation in the upcoming weeks.

[2018-10-16 20:36] #76 closed

[2018-10-16 20:37] tikiatua commented on #81
Hi @cuivip

Thank you for your comment. I plan to create a more in depth documentation similar to the vue-i18n docs in the upcoming week and will included several examples.

[2018-10-16 20:37] #81 closed

[2018-10-17 07:15] tikiatua commented on #94
Hi @Ni55aN

Thank you for following up on this. I will likely not implement this feature directly into the library. In my opinion, the context of adjoint sentences often matters and therefore one should not just concatenate separate translations. Additionally translating one string could have unintended side-effects in a different part of the application.

That is also one of the reasons, that I d

[2018-10-17 17:06] andrade1379 commented on #50
Will you supply a link to your talk?

[2018-10-17 17:30] tikiatua commented on #50
Sure. The meetup is on November 15th. I will supply the link to the presentation just afterwards.

[2018-10-25 20:22] awakash commented on #48
Bump, same here, thanks!

[2018-11-06 09:20] alex83130 opened #96 "Access to current local in a getters module's vuex"
Hi, I would access to the current local in getters of a module's vuex.
Normaly the getter sould be :
`rootGetters['i18n/locale']`
But it's not recognized... I have display the rootGetters array and there is'nt namespaced i18n.

Have you a issue ?

Thanks in advance !

[2018-11-06 09:31] tikiatua commented on #96
Hi @alex83130

Thank you for your request. What exactly are you trying to do? You can access the vuex store without using any getters. To access the data from the i18n-module you would just use this.$store.state.i18n or rootState.i18n.

[2018-11-08 12:43] alex83130 commented on #96
Thanks it's ok :)

[2018-11-08 12:43] #96 closed

[2018-11-20 15:42] service-paradis commented on #58
For those using Typescript that want to use this plugin without warning, consider doing this:
`npm install --save-dev @types/vuex-i18n`

Source: https://www.npmjs.com/package/@types/vuex-i18n

[2018-11-30 12:14] nunob87 opened #97 "multi projects vuex-i18n"
hello, I have several projects in which they will read the store for other projects, but those outside the project give me immense errors in translation.

in the main project the translation works and has no errors, in the secondary, it does not work

code:

// in a directory of a subproject
store.js
[code]

// parent project directory
mutations.js
[code]
// errors
[code]

[2018-11-30 12:36] tikiatua commented on #97
Hi @nunob87

Thank you for reporting your issue. The problem arises due to the way that the i18n methods are registered on the vue instance.

When you run `Vue.use(vuexi18n.plugin, store)`, the plugin registers several methods on the respective vue instance – i.e. Vue.i18n.set(..) – several methods on the vue component prototype – i.e. this.$t, this.$i18n.set(..) – and a new vuex-module on the sto

[2018-11-30 12:46] tikiatua commented on #97
By the way. You could directly dispatch vuex actions to change the i18n store settings from other vuex modules.

[code]

[2018-12-04 10:45] eeedvisss opened #98 "Special characters support in translation parameters"
Hi,
First of all thanks for amazing 'i18n' implementation into 'vuex'.
Just one issue we bumped into while using it. Looks like regex that matches start/end identifiers only accept word characters between them (\w+). That way if we pass something like this as params '{{test!}}' we do not get a translated string while '{{test}}' works fine. Is there a particular reason for this? Could the matcher b

[2018-12-04 11:12] tikiatua commented on #98
Dear @eeedvisss

Many thanks for reporting the issue. We actually never bumped into the problem, as we usually use rather simple strings as keys for the translation – i.e. dashboard.title.

However, your reported use case should really work and I will look into how we can make the regex matcher more robust.

[2018-12-04 11:15] #80 closed

[2018-12-11 13:14] dmcdonald8 opened #99 "Option to suppress the `i18n: Not all placeholders found` console warnings"
I have some strings in the Vuex store that need translated and contain placeholders e.g `{0} {1}`

However due to the way they're implemented the placeholder actual values are not provided at translation time but are inserted later

I would like an option to disable the console warnings whenever this happens as its not going to change any time soon.

I can see in vuex-i18n-plugin.js
[code]

[2018-12-11 15:12] tikiatua commented on #99
Hi @dmcdonald8

Thank you for reporting. the issue. This can easily be implemented. Stay tuned.

[2018-12-11 15:42] #99 closed

[2018-12-11 15:42] #98 closed

[2018-12-11 16:09] #92 closed

[2018-12-13 02:36] AshleyCao commented on #75
@dimaslz Has your problem solved? If not, what about  [vuex-persistedstate](https://www.npmjs.com/package/vuex-persistedstate)?

[2018-12-18 21:16] pyriand3r opened #100 "Support for yarn"
vuex-i18n is not in the yarn repositories, so it is not installable via yarn. Please provide a yarn package.

This would increase the outreach of this great package, too ;)

[2018-12-20 12:46] dmcdonald8 opened #101 "What is the current version?"
I was under the impression v1.10.7 was the latest version? I believe the latest version added a config option to suppress warnings, which is what I need, but on npmjs the latest version is v1.10.5 which is 2 years old. If I try to upgrade the package using Yarn I'm told that 1.10.5 is the latest version available.

[2018-12-20 12:50] tikiatua commented on #101
Hi @dmcdonald8,

Thank you for reporting this. I completely forgot to push the newest version to npm. Will do this right now.

[2018-12-20 12:54] tikiatua commented on #101
Hi again,

newest version 1.10.7 is now on npm

[2018-12-20 12:56] dmcdonald8 commented on #101
@tikiatua
Thank you!

[2018-12-20 13:18] #101 closed

[2018-12-24 09:20] davidpelayo opened #104 "The v1.10.7 introduced a couple of breaking changes: Comparison vs v1.10.5"
I'm checking the differences of the `v1.10.5` and `v1.10.7` due I had translations using multiple placeholders that they were getting translated correctly before, and after upgrading they fail.

The comparison link, between those two versions, is the following: https://github.com/dkfbasel/vuex-i18n/compare/v1.10.5...v1.10.7.

So, were before this was correctly working:

[code]

With the version `v

[2018-12-24 10:30] tikiatua commented on #104
HI @davidpelayo,

This issue is quite likely due to the changed regular expression match that we use to identify placeholders in translation strings. With the new regex matcher, we require at least two characters, which breaks your code if the variable replacement results in a matcher with only one character (i.e. a number).

I will adapt the regex matcher to also include matches for single charac

[2018-12-24 14:10] tikiatua commented on #104
should be fixed in latest release v1.10.9

[2019-01-02 11:01] davidpelayo commented on #104
Additionally, to my message above, the latest version fails on IE11 due short hand properties not being transpiled, such us [this](https://github.com/dkfbasel/vuex-i18n/blob/6f3043670dd220437451277dd60e3b48b1771730/src/vuex-i18n-store.js#L17).

Where:
[code]

It should be:
[code]

![i18nerror](https://user-images.githubusercontent.com/84540/50589239-23c48900-0e86-11e9-8d14-99d452ac5e2f.gif)

Is th

[2019-01-02 11:08] tikiatua commented on #104
Hi @davidpelayo

Thank you for reporting this. Definitely not intended. I will look into this.

[2019-01-02 13:07] tikiatua commented on #104
Hi there,

The issue should be fixed now in version v1.10.10. I needed to change the build process somewhat, as babel needs the node_modules and babelrc file to be in the same root directory as the scripts to transpile.

[2019-01-02 13:07] #104 closed

[2019-01-10 15:56] CelticParser commented on #50
@tikiatua
Are you still working on that patch? Plz say yes - LOL

[2019-01-10 23:08] guins commented on #50
This is how I solved this issue. Knowing that I needed my different paths to work in all languages (for lang switching directly in the app without reloading):

[code]

[2019-02-07 02:17] d0peCode opened #105 "Not able to access i18 plugin from mutation in classic mode store in Nuxt application"
I'm trying to implement Vuex i18n package within my Nuxt application. In my nuxt.conf.js file in plugins array I have:

    {
        src: '@/plugins/i18n.js',
        ssr: false
    },

plugins/i18n.js file is:

    import Vue from "vue";
    import vuexI18n from "vuex-i18n/dist/vuex-i18n.umd.js";
    import toEnglish from "../translations/toEnglish";
    import toSpanish from "./../translations/

[2019-02-07 09:38] Vinnythetrue opened #106 "Usage of special characters inside the translations (&nbsp;)"
I'm using the i18n module in my app, working well, great module, thanks for the job.

But I would like to use special characters, ie. &nbsp; inside some of my texts.
For instance, in french, there is a space before an exclamation mark, I would love to put a nonbreakingspace there instead of a regular space, but putting the litteral string "&nbsp;" in the text data inside the json file makes it app

[2019-02-07 11:28] tikiatua commented on #106
Hi @Vinnythetrue,

Thank you for your feedback. This is indeed a tricky problem and has to do with character encoding and html escaping.

For security reasons, vue will automatically escape all html tags – i.e. the &nbsp; tag – in text unless you use the v-html directive to insert the content. Be aware, that using the v-html directive might open your application up to possible security vulnerabili

[2019-02-07 11:42] tikiatua commented on #105
Hi @BorysTyminski,

Thank you for your feedback. First of all, I would recommend to not use the `this` keyword inside a vuex store but only act on the properties passed into the respective functions.

The vuex-i18n plugin will actually simply register a special vuex module in the i18n namespace (https://vuex.vuejs.org/guide/modules.html).

So to modify the i18n data, you can simply call the respec

[2019-02-08 12:36] Vinnythetrue commented on #106
thanks tikiatua ! The solution was so simple, I even didn't though of simply insert the "real" non-breaking space unicode character O_o

It works like a charm !

The only downside for me, is when it comes to the translation work, I will have to process somehow the texts coing back from translation, because the translation people won't be able to do this I guess...

Thanks again :)

[2019-02-08 12:36] #106 closed

[2019-02-20 09:22] GeniaT opened #107 "Testing the fallback language - Chai"
Hi and thank you for the great work!
The fallback in my app behaves fine but the test I wrote doesn't fall back to 'en' language.
See my test:
[code]

Did I miss something?

[2019-02-20 10:31] tikiatua commented on #107
Hi @GeniaT

Thank you for your feedback. There should be three options to make it work

1. Make the casing of your assertion and your translation match (i.e. New Message / New message). Please keep in mind, that you are actually passing the string "New Message" to the translation method and not referencing the key `navbar.newmessage` with your current code. Therefore, the translate method will ret

[2019-02-20 11:01] GeniaT commented on #107
@tikiatua Thanks for your quick answer and nice catch on casing. Works perfect now.

[2019-02-20 11:05] #107 closed

[2019-04-03 07:41] GeniaT commented on #71
@tikiatua It's maybe worth mentioning when using the package in tests, transpiled version should is also needed.

[2019-04-03 15:00] dcshiman commented on #48
You can use `v-html` to html elements as follows
[code]

[2019-04-09 20:32] Fluxlicious commented on #53
+1
Since it's not working you might want to follow Laravel's form:
zero ::: single ::: plural

[2019-05-07 19:05] eliranmal commented on #48
an [issue on the i18next-node repository][1] points at a similar issue (albeit at a lower level).
[Jan Mühlemann][2], a core member, [offers to use post-processing][3] of markdown content, which IMHO could suit fine here.

the idea is to add a markdown plugin (though you can also write your own), so you wouldn't have to parse HTML (it's not a regular language!), but only markdown. the template out

[2019-05-07 19:15] eliranmal commented on #48
@dcshiman, that solution may shadow issues with input validation, increasing the chances of missing a potential XSS vulnerability in the code.

[2019-05-08 11:01] jan-thoma opened #108 "Single File Component Children not updating"
Steps to reproduce:

- Create a new new project with Vue-CLI3 with router and i18n
- Enable single file component Support
- Add  <i18n></i18n> to parent single file component which contains the vue-router outlet
- Add a watcher for '$18n.locale' to child component
- Update locale
- Nothing happens

[2019-05-08 11:27] tikiatua commented on #108
Dear @jan-thoma

Thank you for reporting this. For reactive updates you should watch the state directly. I.e. the locale property in the i18n module in the store.

The properties on the $i18n object are regular functions and not reactive properties.

[2019-05-10 07:05] narender2031 commented on #50
I required my routes like this :-

`domain.com/en/home
domain.com/fr/accueil
domain.com/dk/hjem
`

any solution for this.

[2019-05-10 07:20] tikiatua commented on #50
Hi @narender2031

You should be able to implement this with the solution of @guins listed above. This will register the respective routes with vue router using the vue-router alias feature.

What you need to do additionally is create a beforeRoute hook, that sets the locale to the :locale param of the route, when a user visits a specific route.

I still plan to make the whole setup simpler by prov

[2019-05-27 09:40] adi3230 commented on #50
Currently trying out as mentioned above
`const routes = [
    {
        path: '/abc/',
        name: 'ParentComponent',
        component: ParentComponent,
        children: [
            // Add routes here
            {
                name: 'stepone',
                component: StepOne,
            },
            {
                name: 'steptwo',
                component: StepTwo,

[2019-05-27 09:48] narender2031 commented on #50
In your locale helper.js, there is a method
[code]

you need to import this method in your routes.js file
`import { defaultI18n } from '../locales/helper'`

then
[code]

[2019-05-27 10:15] adi3230 commented on #50
@narender2031 It worked thanks

[2019-05-29 12:31] Erwin32 opened #109 "Hook custom logic for non existent keys in lang"
I was looking for some way to register some callback/interceptor on failed key lookup so that I could send a request to server API we have that would notify the server of the missing translation.

I didn't find any way to do this using the library functions. I could introduce custom vue filter and some wrapper method around $t method as last resort tho I wouldn't prefer that.

[2019-05-29 14:56] tikiatua commented on #109
Hi @Erwin32

This functionality is actually available. You need to pass a respective handler function as `onTranslationNotFound` property when initializing the store. You can find an example in the readme.

[code]

[2019-05-30 13:50] Erwin32 commented on #109
oh great must have missed that, thx

[2019-05-30 13:50] #109 closed

[2019-06-23 21:34] orsileonel commented on #60
Hi! Thanks a lot for this awesome plugin, love it!

I have a similar issue regarding this, I bring the data from a **/graphql endpoint**, it brings it fine and I added it the following way:

[code]

I can access the data through **Vuexi18n** doing **{{ $t('herounits') }}** and it shows it the following way **[ { "title": "Hero unit title", "description": "Hero unit description" } ]**, but I need t

[2019-06-24 20:41] tikiatua commented on #60
Hi @orsileonel

Thank you for your feedback. It is possible to return pure objects from graphql instead of arrays. This depends on the graphql schema definition and implementation.

The plugin will actually transform any language information into a flat lookup map. Unfortunately, the corresponding function does not handle arrays of objects yet.

ˋˋˋjavascript
{
    herounits: {
        title: „som

[2019-06-25 00:51] orsileonel commented on #60
Thank you @tikiatua, once this feature is applied will replace it for sure, meanwhile will try using that workaround.

Keep up the awesome work!

[2019-06-25 18:12] gmsa commented on #16
Does this still work?

[2019-07-06 10:46] AbbasHasani opened #110 "nuxt example implementation"
hi
trying to add vuex-i18n to my nuxt project no luck so far .
i'm getting this error message,
[code]
my code so far :
[code]

[2019-07-08 20:43] lysz210 commented on #80
The goal of the 2 plugins are the same but they differ in the way they achieve it.
I tried vue-i18n and is very flexible in managing static translation, by static I mean that you must have in advance all the translations. I was looking for something more flaxible for real-time translations adding new translation dynamically using Yandex translate backed  with Laravel api.
At a first glance I think

[2019-07-09 06:57] tikiatua commented on #110
Hi @AbbasHasani

Thank you for reporting this issue. The plugin is adding the property $i18n to the Vue prototype, to make the translations accessible in all components. It seems to me, that your issue might be related to one of the following:

https://github.com/ankurk91/vue-loading-overlay/issues/6
https://github.com/vuejs/vuex/issues/255
https://github.com/vuejs/vuex/issues/255

Please check if

[2019-07-09 06:59] tikiatua commented on #110
And please make sure, that you add your exported store to the main vue instance of your application

[code]

[2019-07-24 14:56] tikiatua commented on #108
The setup is actually for vue-i18n and not for vuex-i18n.

[2019-07-24 14:56] #108 closed

[2019-07-24 14:58] #105 closed

[2019-07-24 15:38] tikiatua commented on #48
Hi @eliranmal

Thank you for your input. I am finally getting around to tackle some of the harder problems with this library. Interpolation of html and components is definitely on the list.

I was thinking that interpolation could be achieved on an opt-in basis. Where the developer defines, which tags are allowed to be used for interpolation and all others are automatically stripped (with a warnin

[2019-07-25 14:53] eliranmal commented on #48
@tikiatua, thanx, it's great to hear that you're on it!

i agree that the white-list approach is preferable when mitigating XSS-related issues, however, choosing which tags to render is not the whole solution; should we now check for element attributes as well?
 and the imperative API is both very expressive and flexible.

IMHO, introducing markup inside translation values would unnecessarily comp

[2019-07-25 15:08] tikiatua commented on #48
Good point. My idea was, that element attributes would be limited to props of the respective components. In addition, we would not actually evaluate the html, but parse the content and build a custom render function to create the respective virtual dom.

Something like this:
[code]

[2019-07-27 09:53] eliranmal commented on #48
@tikiatua, that sounds like a great idea - if we don't evaluate any markup, we lower the risk of injections.

also, if the code eventually prepares a `render` function, we *do* delegate the job to a higher level, and we can still leave hooks for user intervention (enabling points of integration to actually evaluate the markup).

the added complexity is presumably still there - we'd have to keep so

[2019-08-05 07:10] Shinigami92 opened #113 "Improve typescript declarations"
Currently the declarations created in #111 are not very helpful.

Maybe you can improve them and pick up the declarations from here:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/vuex-i18n/index.d.ts

After that we can remove it from DefinitelyTyped

[2019-08-05 08:27] vuduongq commented on #113
Hi @Shinigami92

Thanks for providing the typescript declarations. I have updated the d.ts of the package.

[2019-08-07 07:28] Shinigami92 commented on #113
In which case can `this.$t('something')` return `undefined`?

https://github.com/dkfbasel/vuex-i18n/blob/2c54cea2d09cc9e7399fdb3cdf41f86bc0b05d28/dist/vuex-i18n.d.ts#L6

I thought if the key is missing, `'something'` will be returned. I think it is never returning `undefined`.

I use `strict` in my projects, and after every `$t` call, I have to append a `!` to tell TypeScript that I don't assume `

[2019-08-16 13:44] cimbis commented on #82
Big thumbs up, this saved my day!

[2019-08-16 14:10] tikiatua commented on #82
Thank you for following up on this.

I am literally right now working on this for version 2 of the plugin. I just finished setting up the plugin with vue-cli, migrating the complete plugin code over to typescript and implementing the first unit tests with jest.

This will really help us to automate the testing and include a lot more test cases. I will try to make the version 2 branch available in

[2019-08-18 22:50] kosirm commented on #32
I would like to use vuex-i18n with quasar, but don't know where to start properly... Do you maybe know for some example quasar project?

[2019-08-19 06:10] tikiatua commented on #32
Hi @kosirm

Unfortunately, there is currently no quasar example that I know of. However, there is a todo example in the directory /examples/todo with the main starting file at https://github.com/dkfbasel/vuex-i18n/blob/master/examples/todo-vuex-i18n/src/app/main.js.

Maybe just take a look at the example repository to find out how it works, or there is also a presentation https://github.com/dkfbas

[2019-08-21 09:17] tikiatua commented on #82
The version branch with a first example of a test is now available

[2019-08-21 09:18] tikiatua commented on #113
Version 2 of the plugin is in the works and completely written in typescript (see version 2 branch)

[2019-08-21 09:24] tikiatua opened #114 "Improve plugin documentation"
The documentation of the plugin should be more extensive, with multiple examples.

Implementation of the documentation is done with vuepress.

[2019-08-23 09:15] HumayraHanif commented on #82
I'm glad it helped! I have struggled with designing tests to work when the translation string needs parameters passed into it (e.g, "Hello {name}.") but for now have mocked the translation function to return the string as expected.

[2019-08-28 10:43] everttrollip opened #115 "Multiple modules"
Hi,

Is it possible to use the plugin for storing localization information and translations multiple times? What I mean by this, is I would like to have a way to implement an application wide language, and a language that is independent of the app - for example a document language.

I am currently building an application where users would for example log in with the language set to German, but whe

[2019-08-28 10:50] everttrollip commented on #115
Update: I did a quick follow-up in the documentation, and I do now notice that I can only use the plugin once.

However, do you know of any way that I can resolve my issue? By that I mean being able to handle multiple language/localisation handlers?

[2019-08-28 10:54] tikiatua commented on #115
HI @everttrollip

Thank you for submitting this issue. This is indeed a very interesting and important use case that is currently not really well supported.

The idea with the two separate modules is great. Unfortunately, it will not work as the two plugin  invocations register the translation functions on the vue instance (i.e. the $t) with the same names and therefore collide with each other.

W

[2019-09-18 10:40] Gvade commented on #48
I've made a quick solution to this problem. It's forked [here](https://github.com/Gvade/vuex-i18n).
The example: [doc](https://github.com/Gvade/vuex-i18n#interpolation).
It assumes that you're using `{` and `}` as the identifiers (I didn't manage to access plugin config value from the external file in order to pick the actual ones).

[2019-10-15 06:52] VereschakSun opened #116 "What about provide plugin for debugging content"
Hi. I have some trouble when use this plugin
I use webstorm/phpstorm/
When I wrote table like this. My qa manager must to check all thead's in translate file. It;s too long and not comfortably.
I think will be grate if you create some plugin or something else for show correct translates for this case.
Thank you!

                        <thead>
                        <tr>

[2019-10-15 08:17] tikiatua commented on #116
Hi @VereschakSun

Thank you for your input. I am absolutely on the same page with you. It is not only tedious for the qa manager but I think also for the developer who needs to manage all the translations.

Writing a plugin for a specific IDE (i.e web storm) is one solution, although we would probably first tackle visual studio code instead of web storm. However, we are currently exploring the use

[2019-10-23 06:14] djtsov opened #117 "Using square brackets in identifier does not work"
I want to use the square brackets for parameters in translation strings, for example, 'This is my [project]'.
And for that aim I add the `{identifier: ['[',']']}` as the config parameter for initialize vuex-i18n. But unfortunately when I try to get a translation by `this.$i18n.translate('mykey', {'project': 'test' })` , I get 'This is my [project]' instead 'This is my test'.
But when I replace the

[2019-10-23 06:44] djtsov commented on #117
As I understood, for using the the square brackets in regular expressions, it's needed to use follow `identifier: ["\\[","\\]"].`
But then this line works wrong:
` var key = placeholder.replace(identifiers[0], '').replace(identifiers[1], '');`
because translate string contains the single brackets, but identifier[0] is '\[' and identifier[1] is '\]'.

[2019-10-23 13:16] karladler opened #118 "Linked local messages"
Is there a feature planned for using already translated keys as part of new translations, similar to linked translations in the vue-i18n plugin?

https://kazupon.github.io/vue-i18n/guide/messages.html#linked-locale-messages

[2019-10-23 16:04] tikiatua commented on #118
Hi @karladler

Thank you for your input. We are currently working on the next major version of the library and briefly considered this.

I do feel that although it seems like a very handy feature, this might quickly lead to problems when creating and particularly maintaining somewhat larger applications. Particularly as it might not be clear which other messages are affected when a translation is

[2019-10-23 16:08] tikiatua commented on #117
Hi @djtsov

Thank you for your feedback. I will look into this. The syntax of the identifiers is probably not correct yet.

[2019-12-31 06:51] michaelKaefer commented on #50
Is there any kind of official solution yet? I think a lot of people will need:

[code]

[2019-12-31 08:38] stalniy commented on #50
I have a pretty good solution without boilerplate. I plan to write an article about it during the next 2 weeks

You can take a look here - https://www.minucreditinfo.ee/et/

Maybe later if everybody is ok with the implementation it can be back ported into Vue-i18n

[2020-01-04 22:55] BlakeHancock commented on #48
I liked how @Gvade's solution worked, but it wasn't very practical for doing simple things like bolding a word in a sentence.

I expanded on it by having it check if the translation key + '__html' exists in the JSON translation file and then compiling it as HTML instead of text, but otherwise working the same way. The only caveat is you can't use slot arguments in attributes, but regular arguments

[2020-01-22 10:35] cingaldi opened #120 "Set Fallback language File"
Hi,

I was looking for a way to set a fallback language when a translation is not found. Instead of adding a default value for each $t() ,  our workflow is to add a new string to the en.json file and then wait for the translator that sends back all updated language JSONs. This could save time because the developer adds a new string once (In default language JSON) instead of twice (in $t() and lang

[2020-01-22 10:37] tikiatua commented on #120
I think this is actually already implemented. Let me check and get back to you in a few hours

[2020-01-22 10:37] tikiatua commented on #120
Otherwise it should be rather easy to implement.

[2020-01-22 10:59] cingaldi commented on #120
Thank you so much! I've seen [this ](https://github.com/dkfbasel/vuex-i18n/blob/67fc6b53c8a367e654a63114ca7cc2066ace1e5a/src/vuex-i18n-plugin.js#L339) line and after inspection seems that does the job.Right?

[2020-01-22 11:14] tikiatua commented on #120
Yepp. Exactly. You can set a fallback locale with `$i18n.fallback(locale)` inside a component or `Vue.i18n.fallback(locale)` when accessing the module directly.

[2020-01-22 11:23] tikiatua commented on #120
The chain to find a translation message is actually like this:

- Check default regional locale for the translation key, i.e. `de-ch`
- If translation key was not found, check the non-regional locale, i.e. `de`
- If translation key was still not found, check if a method is defined via the module property `onTranslationNotFound` and use the respective response message if one is returned. This can b

[2020-04-14 19:46] drognisep commented on #16
@Arxi @tikiatua
I'm having a similar issue, but the solution above doesn't seem to work. I'll illustrate my context so I can also be told if I'm doing something silly in the initialization. I'm kicking this off in development mode with `npm run serve` which calls `vue-cli-service serve --host localhost --port 4200`.

It seems likely that something changed between 2017 and now, so I'm assuming I'm

[2020-05-08 14:13] danielskeeled commented on #16
@drognisep did you manage to solve it?

[2020-05-08 14:21] gmsa commented on #16
@danielskeeled you have to import the i18n instance you created and use that:

[code]

And on the other file:

[code]

[2020-05-19 16:09] QADRAX commented on #93
Hi!
We are having exactly same issue... I think in the same way that vuex-i18n registers $t function in Vue and a new vuex module, it could register a kind of $t getter to access translations from other modules.

[2020-06-02 07:52] radek-altof commented on #50
Hey guys, I created Vue plugin exactly for this purpose. It leverages router alias and beforeEach hook, but that's all under the hood. If anybody's interested, check it out here:
https://www.npmjs.com/package/vue-lang-router

I also supplied it with a Vue CLI plugin for an easy installation, so it's as simple to add as
`vue add lang-router`

Feedback is welcome :)

[2020-06-26 07:12] drognisep commented on #16
Hey! Sorry for the late response. Yes I just used a very similar pattern to what @gmsa recommended and it works like a charm. Thanks! 👍

[2020-09-03 01:00] daplan128 commented on #52
hi i need help with my code

[code]

try with @daveo1001 solution but don't work.

i tried with key.map and v-for inside v-for and it doesn't work i can't work with keys

[2020-09-03 06:19] tikiatua commented on #52
Hi @daplan128

Thank you for your request. From what I understand, you try to iterature over this.helpTitles to construct a translated object to push onto the this.helpInfo array. However this.helpTitles is set as a string further above. Maybe there is something I do not understand correctly.

[code]

[2020-09-03 06:43] daplan128 commented on #52
@tikiatua This is my original code, it shows the support information of my website, each title has a series of questions and answers saved within a .json file with all the information to be translated, the app opens correctly with it with the browser language but when I change the language with a switch, data is not rendered, add metaInfo as explained in the comments and try to add $ t in metainfo

[2020-09-03 20:55] tikiatua commented on #52
Hmm.. Ok. I think, I know the reason for the problem. The $t function returns an object that is not reactive.

This means, that changing the locale on the store will not change values already returned by this.$t(...). So the information that is returned in your data() function will not be automatically updated, if the locale on the store changes. Likewise, the information stored in the this.helpIn

[2020-09-03 21:20] tikiatua commented on #52
@daplan128: I created a small example that works as intended. You can save it as html file and open it directly in the browser. The example is not yet done with the metaInfo plugin.

P.S. What exactly is your intention with putting the information in metaInfo?

[code]

[2020-09-11 14:29] ortegarenzy commented on #75
Issue is still existing specially when used with SSR. The registered module "i18n" is lost when the translate function is called after refresh

[2020-09-11 15:06] tikiatua commented on #75
Hi @ortegarenzy

Thank you for bringing this to our attention again. I will put this on the list of things to investigate. Need to understand first how nuxt works its magic with state persistence.

[2020-09-11 15:28] ortegarenzy commented on #75
@tikiatua In my case, I am not using Nuxt and I am following this [guide](https://ssr.vuejs.org/guide/data.html#data-store)

This is where I registered the vuex-i18n in my store/index.js

[code]

On my understanding, I need to register it on both server side and client side. When executed on the client side, I don't need to add the translations but instead use the state that was registered on the

[2020-11-16 11:41] drtobbyas opened #128 "How to translate a component attribute/property"
How do I translate a component passed-in attribute/property. I have checked the doc and online for an example usage but can't find any. Please pardon If I may be posting this question in the wrong place.

## My scenario
For instance, I have a card component that is define like this
`
// card component  --- card.vue
<template>
  <div>
    <h1>{{title}}.</h1>
    <p>{{description}}</p>
  </div>
</te

[2021-05-14 19:45] Braklord opened #136 "Unicode-Support?"
Hello, I am having .json locales in unicode, like [this example](https://codeshare.io/arbOQE). Is there a possibility to handle unicode?

Thanks in advance,
Nik

[2021-06-28 15:46] serdarde commented on #16
@gmsa 's answer has solved my problem, but I had to use like this in vue 3:

    i18n.global.tc('text)

[2021-10-12 09:06] yabuking84 commented on #16
i18n.global.tc('text) shows error "Type instantiation is excessively deep and possibly infinite."

[2021-12-09 05:55] justforuse commented on #16
I have to use `const translate = window.i18n.tc.bind(window.i18n)` in my project. Otherwise it will report `can not read property _tc of undefined`

[2022-05-31 23:58] fabus961 commented on #16
How bout this approach w. vue3 composition api
_"vue": "^3.0.0",
"vue-i18n": "^9.1.10",_

in my **config.ts** I export the i18n const for setup and $t as global helper

[code]

use in  **main.ts**
[code]

use in script file
[code]